:root {
    --board-bg-color: #f8f9fa;
    --board-border-color: #d3d3d3;
    --board-border-radius: 8px;
    --board-font-family: 'Segoe UI', Tahoma, Geneva, Verdana;

    --board-section-button-text-color: #ffffff;
    --board-section-button-bg-color: #007bff;
    --board-section-button-transition: background-color 0.3s ease;
    --board-section-button-hover-bg-color: #ffffff;
    --board-section-button-hover-text-color: #007bff;

    /* Текстовые шрифты */
    --board-section-button-font-size-xs: 12px;
    --board-section-button-font-size-sm: 16px;
    --board-section-button-font-size-lg: 17px;
    --board-section-button-font-size-xl: 18px;
    --board-section-button-font-size-huge: 19px;

    /* Ширина блока */
    --board-section-width-xs: 100%;
    --board-section-width-sm: 90%;
    --board-section-width-md: 80%;
    --board-section-width-xl: 75%;
    --board-section-width-xLarge: 60%;

    /* Внутренние отступы */
    --board-section-padding-xs: 8px;
    --board-section-padding-sm: 12px;
    --board-section-padding-md: 16px;
}

.BoardSection {
    background-color: var(--board-bg-color);
    border-radius: var(--board-border-radius);
    font-family: var(--board-font-family), sans-serif;
}

.BoardSectionButton {
    color: var(--board-section-button-text-color);
    background-color: var(--board-section-button-bg-color);
    border-radius: var(--board-border-radius);
    min-width: 100%;
    transition: var(--board-section-button-transition);
}

@media (min-width: 344px) {
    .BoardSectionButton {
        font-size: var(--board-section-button-font-size-xs);
        padding: var(--board-section-padding-xs);
    }
}

@media (min-width: 575px) {
    .BoardSectionButton {
        font-size: var(--board-section-button-font-size-sm);
        padding: var(--board-section-padding-sm);
    }
}

@media (min-width: 768px) {
    .BoardSectionButton {
        font-size: var(--board-section-button-font-size-lg);
        padding: var(--board-section-padding-md);
    }
}

@media (min-width: 992px) {
    .BoardSectionButton {
        font-size: var(--board-section-button-font-size-xl);
        padding: var(--board-section-padding-xs) var(--board-section-padding-md);
    }
}

@media (min-width: 1200px) {
    .BoardSectionButton {
        font-size: var(--board-section-button-font-size-huge);
        padding: var(--board-section-padding-xs) var(--board-section-padding-sm);
    }
}

.BoardSectionButton:hover {
    border: none;
    color: var(--board-section-button-hover-text-color);
    background-color: var(--board-section-button-hover-bg-color);
}

.BoardSectionButton:focus {
    box-shadow: none;
}
