@import '../tools/_tree-list-padding-reset-mixin';

// Стили для уровня 1
#level-1 {
  order: -3;
}

// Основные стили компонента Tree List
.tree-list {
  // Стили для колонок элементов
  &__item-column {
    // Сброс отступов для всех колонок
    &--left,
    &--right {
    @include tree-list-padding-reset();
    }
  }

  // Стили для чекбоксов
  &__custom-checkbox {
  @include tree-list-padding-reset();
  }

  // Стили для кнопки выпадающего списка
  &__dropdown-button {
    &-text {
      margin-top: -6px;
      margin-left: -3px;
    }
  }

  // Стили для заголовка элемента
  &__item-title {
    padding-left: 0;
    margin-bottom: 0;
  }

  // Стили для кнопки добавления
  &__button {
    &--added {
      padding: 0;
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }
  }

  // Стили для элементов списка
  &__item {
    padding: 0;
    border-bottom: none;
  }

  // Стили для стандартного чекбокса
  &__self-checkbox {
    margin-left: 0;
    opacity: 0;
  }
}

// Стили для состояния чекбокса
[type="checkbox"]:checked + .tree-list__custom-checkbox {
  border: none;
}
