// Тема 2 - серая
// Тема кнопки управления состоянием открытия / закрытия модального окна таблицы
.modal-button-toggle {
  color: #ffffff;
  background-color: #6c757d;
  border-color: #ffffff;
  &--focused {
    color: #6c757d;
    background-color: #ffffff;
    border-color: transparent;
  }
  &:hover {
    background-color: #6c757d;
    color: #ffffff;
  }
}