:root {
    --burger-color: #007bff;
    --burger-active-color: transparent;
    --burger-transition: all 0.3s ease-in-out;
}

.BurgerButton {
    width: 32px;
    height: 24px;
    cursor: pointer;
    z-index: 1000;
}

.BurgerButton span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--burger-color);
    border-radius: 5px;
    transition: background-color var(--burger-transition);
}

.BurgerButton span::before,
.BurgerButton span::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--burger-color);
    border-radius: 5px;
    transition: transform var(--burger-transition);
}

.BurgerButton span::before {
    transform: translateY(-10px);
}

.BurgerButton span::after {
    transform: translateY(10px);
    margin-top: -4px;
}

.BurgerButton_Active span {
    background-color: var(--burger-active-color);
}

.BurgerButton_Active span::before {
    transform: rotate(45deg) translateY(0);
}

.BurgerButton_Active span::after {
    transform: rotate(-45deg) translateY(0);
}

@media (min-width: 1400px) {
    .BurgerButton {
        width: 42px;
        height: 34px;
    }

    .BurgerButton span,
    .BurgerButton span::before,
    .BurgerButton span::after {
        height: 8px;
    }

    .BurgerButton span::after {
        margin-top: -8px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .BurgerButton {
        /* Увеличиваем ширину кнопки */
        width: 40px;
        /* Увеличиваем высоту кнопки */
        height: 32px;
    }

    .BurgerButton span,
    .BurgerButton span::before,
    .BurgerButton span::after {
        /* увеличиваем высоту полосок */
        height: 7px;
    }

    .BurgerButton span:after {
        margin-top: -7px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .BurgerButton {
        width: 38px;
        height: 30px;
    }

    .BurgerButton span,
    .BurgerButton span::before,
    .BurgerButton span::after {
        height: 6px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .BurgerButton {
        width: 36px;
        height: 38px;
    }

    .BurgerButton span,
    .BurgerButton span::before,
    .BurgerButton span::after {
        height: 5px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .BurgerButton {
        width: 34px;
        height: 26px;
    }

    .BurgerButton span,
    .BurgerButton span::before,
    .BurgerButton span::after {
        height: 5px;
    }
}

@media (max-width: 575px) {
    .BurgerButton {
        width: 30px;
        height: 22px;
    }

    .BurgerButton span,
    .BurgerButton span::before,
    .BurgerButton span::after {
        height: 4px;
    }
}

.MainMenu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid #007bff;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.MainMenu.MainMenu_Active {
    right: 0;
}

.MainMenu-Link {
    display: block;
    width: 100%;
    color: #007bff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.MainMenu-Link_Active {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
}

@media (min-width: 1400px) {
    .MainMenu {
        justify-content: space-around;
    }

    .MainMenu-Link {
        font-size: 18px;
        max-height: 55px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .MainMenu {
        justify-content: space-between;
    }

    .MainMenu-Link {
        font-size: 17px;
        max-height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .MainMenu {
        padding: 25px;
        justify-content: space-around;
    }

    .MainMenu-Link {
        padding: 15px 25px;
        font-size: 19px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .MainMenu {
        padding: 10px;
        justify-content: center;
    }

    .MainMenu-Link {
        font-size: 18px;
        max-height: 50px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .MainMenu {
        padding: 15px;
        justify-content: space-around;
    }

    .MainMenu-Link {
        padding: 10px 15px;
        font-size: 17px;
        max-height: 45px;
    }
}

@media (min-width: 480px) and (max-width: 575px) {
    .MainMenu {
        flex-direction: column;
        align-items: center;
    }

    .MainMenu-Link {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        max-height: 43px;
        font-size: 16px;
    }
}

@media (max-width: 479px) {
    .MainMenu {
        padding: 12px;
        justify-content: center;
    }

    .MainMenu-Link {
        font-size: 15px;
        max-height: 40px;
    }
}