// Параметры управления интерфейсом
// Устанавливаем базовый цвет фона рабочего стола
@ds-background-color: #6c757d;
// Устанавливаем основной цвет текста рабочего стола
@color-text: #ffffff;

// 2-ая тема серая
// Стили темы рабочего стола
.Desktop {
  // Устанавливаем базовый цвет темы рабочего стола
  background-color: @ds-background-color;
  &-Title {
    // Устанавливаем базовый цвет заголовка рабочего стола
    color: @color-text;
  }
}