// Параметры управления интерфейсом
// Устанавливаем базовый цвет рабочего стола
@ds-background-color: #ffc107;
// Устанавливаем основной цвет текста рабочего стола
@color-dark: 212529;

//3-я тема - черная
.Desktop {
  // Устанавливаем базовый цвет темы рабочего стола
  background-color: @ds-background-color;
  &-Title {
    // Устанавливаем базовый цвет заголовка рабочего стола
    color: @color-dark;
  }
}