// Параметры управления интерфейсом
// Устанавливаем базовый цвет рабочего стола
@ds-background-color: #ffffff;
// Устанавливаем основной цвет текста рабочего стола
@color-text-primary: #007bff;

// 1-ая тема белая
// Стили темы рабочего стола
.Desktop {
  // Устанавливаем базовый цвет фона рабочего стола
  background-color: @ds-background-color;
  &-Title {
    // Устанавливаем базовый цвет заголовка рабочего стола
    color: @color-text-primary;
  }
}



