// Масштабирование иконок на 120%
@scalling-side-menu-icons: 1.2;
// Скругление углов вложенного списка
@nested-list-border-radius: 8px;
// Цвет фона элемента вложенного списка
@nested-list-item-background-color: #ffffff;
// Цвет фона элемента вложенного списка при активном состоянии
@nested-list-active-item-background-color: #2196f3;
// Цвет текста ссылки элемента вложенного списка
@nested-list-item-color-text: #2196f3;
// Цвет ссылки элемента вложенного списка при активном состоянии
@nested-list-active-item-color-text: #ffffff;
@nested-list-hover-item-color-text: #2196f3;
// Цвет ссылки элемента вложенного списка при наведении
@nested-list-hover-active-item-color-text: #ffffff;
// Цвет кнопки удаления элемента вложенного списка
@nested-list-button-delete-item-color: #842029;

/* Ширина контейнера вложенного списка для маленьких мобильных устройств */
@nested-list-container-width-sm: 120px;
/* Ширина контейнера вложенного списка для мобильных устройств */
@nested-list-container-width-md: 140px;
/* Ширина контейнера вложенного списка для планшетов */
@nested-list-container-width-lg: 160px;
/* Ширина контейнера вложенного списка ПК */
@nested-list-container-width-xl: 180px;
/* Ширина контейнера вложенного списка для больших ПК */
@nested-list-container-width-xxl: 200px;
/* Размер шрифта элемента вложенного списка для маленьких мобильных устройств */
@nested-list-item-font-size-sm: 15px;
/* Размер шрифта элемента вложенного списка для мобильных устройств */
@nested-list-item-font-size-md: 16px;
/* Размер шрифта элемента вложенного списка для планшетов */
@nested-list-item-font-size-lg: 17px;
/* Размер шрифта элемента вложенного списка для ПК */
@nested-list-item-font-size-xl: 18px;
/* Размер шрифта элемента вложенного списка для больших ПК */
@nested-list-item-font-size-xxl: 19px;
/* Внутренние отступы элемента вложенного списка для маленьких мобильных устройств */
@nested-list-item-spacing-sm: 4x;
/* Внутренние отступы элемента вложенного списка для мобильных устройств */
@nested-list-item-spacing-md: 6px;
/* Внутренние отступы элемента вложенного списка для планшетов */
@nested-list-item-spacing-lg: 8px;
/* Внутренние отступы элемента вложенного списка для ПК */
@nested-list-item-spacing-xl: 12px;
/* Внутренние отступы элемента вложенного списка для больших ПК */
@nested-list-item-spacing-xxl: 16px;
// Написать хук useStyles() потому что marginLeft считается динамически
// от размера окна (= высота основного меню)
@sidebar-node-list-margin-left: 100px;


.sidebar-node-container-responsive-style() {
  @media (min-width: 344px) {
    width: @nested-list-container-width-sm;
  }

  @media (min-width: 575px) {
    width: @nested-list-container-width-md;
  }

  @media (min-width: 768px) {
    width: @nested-list-container-width-lg;
  }

  @media (min-width: 992px) {
    width: @nested-list-container-width-xl;
  }

  @media (min-width: 1200px) {
    width: @nested-list-container-width-xxl;
  }
}

.sidebar-node-list-item-responsive-style() {
  @media (min-width: 344px) {
    font-size: @nested-list-item-font-size-sm;
    padding: @nested-list-item-spacing-sm;
  }

  @media (min-width: 575px) {
    font-size: @nested-list-item-font-size-md;
    padding: @nested-list-item-spacing-md;
  }

  @media (min-width: 768px) {
    font-size: @nested-list-item-font-size-lg;
    padding: @nested-list-item-spacing-lg;
  }

  @media (min-width: 992px) {
    font-size: @nested-list-item-font-size-xl;
    padding: @nested-list-item-spacing-xl;
  }

  @media (min-width: 1200px) {
    font-size: @nested-list-item-font-size-xxl;
    padding: @nested-list-item-spacing-xxl;
  }
}

.sidebar-node-list-item-icon-responsive-style() {
  @media (min-width: 344px) {
    font-size: @nested-list-item-font-size-sm * @scalling-side-menu-icons;
  }

  @media (min-width: 575px) {
    font-size: @nested-list-item-font-size-md * @scalling-side-menu-icons;
  }

  @media (min-width: 768px) {
    font-size: @nested-list-item-font-size-lg * @scalling-side-menu-icons;
  }

  @media (min-width: 992px) {
    font-size: @nested-list-item-font-size-lg * @scalling-side-menu-icons;
  }

  @media (min-width: 1200px) {
    font-size: @nested-list-item-font-size-xl * @scalling-side-menu-icons;
  }
}

.apply-pulse(@duration) {
  animation: heartbeat-pulse @duration forwards;
}

@keyframes heartbeat-pulse {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.05); /* Slightly larger */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}

.SidebarListNode {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: @nested-list-border-radius;
  box-shadow:
          0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
  z-index: 1000;
  .sidebar-node-container-responsive-style();
  &-Item {
    background-color: @nested-list-item-background-color;
    border: none;
    text-align: left;
    cursor: pointer;
    .sidebar-node-list-item-responsive-style();
    &_active {
      background-color: @nested-list-active-item-background-color;
      .apply-pulse(0.7s);
    }
  }
  &-Item_active {
    & .SidebarListNode-Link {
      color: @nested-list-active-item-color-text;
    }
  }
  &-Item_active {
    & .SidebarListNode-Link:hover {
      color: @nested-list-hover-active-item-color-text;
    }
  }
  &-Link {
    display: inline-block;
    width: 100%;
    color: @nested-list-item-color-text;
    padding:0;
    cursor: pointer;
  }
  &-Link:hover {
    color: @nested-list-hover-item-color-text;
  }
  &-LinkTextContainer {
    display: flex;
    justify-content: space-between;
  }
  &-LinkText {
    display: inline-block;
    width: 100%;
    text-align: center;
    /* Ограничиваем текст пунктов меню чтобы не ломало верстку */
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-Button {
    .sidebar-node-list-item-icon-responsive-style();
    &_delete {
      color: @nested-list-button-delete-item-color;
    }
  }
}