@sidebar-nested-node-list-border-radius: 8px;
@sidebar-nested-node-list-margin-left: 100px;
@sidebar-nested-node-item-background-color: #ffffff;

@sidebar-nested-node-list-container-width-sm: 120px;
@sidebar-nested-node-list-container-width-md: 140px;
@sidebar-nested-node-list-container-width-lg: 160px;
@sidebar-nested-node-list-container-width-xl: 180px;
@sidebar-nested-node-list-container-width-xxl: 200px;

@sidebar-nested-node-list-item-font-size-sm: 15px;
@sidebar-nested-node-list-item-font-size-md: 16px;
@sidebar-nested-node-list-item-font-size-lg: 17px;
@sidebar-nested-node-list-item-font-size-xl: 18px;
@sidebar-nested-node-list-item-font-size-xxl: 19px;

.sidebarNestedNodeContainerStyles() {
  @media (min-width: 344px) {
    width: @sidebar-nested-node-list-container-width-sm;
  }

  @media (min-width: 575px) {
    width: @sidebar-nested-node-list-container-width-md;
  }

  @media (min-width: 768px) {
    width: @sidebar-nested-node-list-container-width-lg;
  }

  @media (min-width: 992px) {
    width: @sidebar-nested-node-list-container-width-xl;
  }

  @media (min-width: 1200px) {
    width: @sidebar-nested-node-list-container-width-xxl;
  }
}

.sidebarNestedNodeListItemStyles() {
  @media (min-width: 344px) {
    font-size: @sidebar-nested-node-list-item-font-size-sm;
  }

  @media (min-width: 575px) {
    font-size: @sidebar-nested-node-list-item-font-size-md;
  }

  @media (min-width: 768px) {
    font-size: @sidebar-nested-node-list-item-font-size-lg;
  }

  @media (min-width: 992px) {
    font-size: @sidebar-nested-node-list-item-font-size-xl;
  }

  @media (min-width: 1200px) {
    font-size: @sidebar-nested-node-list-item-font-size-xxl;
  }
}

.SidebarNestedNodeList {
  border-radius: @sidebar-nested-node-list-border-radius;
  margin: 0;
  padding: 0;
  z-index: 1000;
  &Container {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: @sidebar-nested-node-list-margin-left;
    border-radius: @sidebar-nested-node-list-border-radius;
    box-shadow:
            0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.1);
    .sidebarNestedNodeContainerStyles();
  }
  &-Item {
    background-color: @sidebar-nested-node-item-background-color;
    border: none;
    .sidebarNestedNodeListItemStyles();
  }
}