// Компонентные стили кнопочной навигационной панели
.dropdown-interactive-bar {
  width: 50%;
  border-radius: 8px;
  &__data-toggle {
    height: 38px;
    border-radius: 8px;
  }
}





