// Основные параметры интерфейса при наведении

// Устанавливаем фон кнопки при наведении
@drop-end-background-color-hover-primary: #007bff;
// Устанавливаем белый цвет текста
@drop-end-color-text-white: #ffffff;

// Дополнительные параметры интерфейса при фокусе

// Устанавливаем фон кнопки активного состояния
@drop-end-background-color-active: #007FFF;