// Параметры управления интерфейсом

// Устанавливаем цвет фона кнопки при наведении
@drop-end-background-color-hover-white: #ffffff;
// Устанавливаем цвет текста при наведении
@drop-end-color-text-change: #6c757d;

// Дополнительные параметры управления интерфейсом при фокусе
@drop-end-background-color-active: #0dcaf0;