// Параметры управления интерфейсом при наведении

// Устанавливаем цвет фона кнопки при наведении
@drop-end-background-color-hover: #ffc107;
// Устанавливаем цвет текста при наведении
@drop-end-color-text-hover: #212529;

// Дополнительные параметры управления интерфейсом при фокусе
// Устанавливаем цвет фона когда кнопка активна
@drop-end-background-color-active: #664d03;
// Устанавливаем цвет текста когда кнопка активна
@drop-end-color-text-active: #212529;