// Основные параметры интерфейса
// Устанавливаем основной синий цвет
@color-primary: #007bff;
// Устанавливаем цвет границы цвет границы
@border-color: #007bff;

// Тема 1 - белая Стили выпадающего списка учетной записи пользователя
.account-dropdown {
  &__toggle {
    // Задаем базовый градиент
    // для работы основного градиента при наведении на контейнер
    background: linear-gradient(to right, #f8f9fa, #f8f9fa 75%, #f8f9fa);
    &:hover {
      // Задаем основной градиент для фона контейнера
      background: linear-gradient(to right, #ffffff, #ffffff 75%, #cff4fc);
      // Устанавливаем цвет границы для блока учетной записи
      border-color: @border-color;
    }
  }
  &__avatar {
    // Устанавливаем цвет границы у фото пользователя
    border-color: @border-color;
    // Для серой и системной тем - устанавливаем цвет фона
  }
  &__item--user-name, // устанавливаем цвет текста для имени
  &__item--user-position { // устанавливаем цвет текста для должности
    color: @color-primary !important;
  }
  &__item--user-name:hover,
  &__item--user-position:hover {
    // у hover цвет текста сохраняется
    // устанавливаем цвет границы у элемента с текстом
    // в области этого выпадающего списка
    border-color: @border-color;
  }
}