// Стили сброса отображения окна с контентом
.lightbox {
  &__content {
    border: none;
  }
  &__button-close {
    padding: 0;
    background-color: transparent;
    border: none;
  }
  &__header {
    padding: 0;
    border-bottom: none;
  }
  &__body {
    padding: 0;
  }
}