.account-dropdown {
  &__toggle {
    border-color: transparent;
  }
  &__item--user-name:hover,
  &__item--user-position:hover {
    background-color: transparent !important;
    border: 1px solid;
  }
  &__menu {
    border: none;
  }
}