.NavbarList {
  &-Link {
    display: inline-block;
    border: none;
    border-radius: 0;
    &_active {
      &:first-child {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }
      &:last-child {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
}