// Компонентные стили темы навигационной панели кнопок
.dropdown-interactive-bar {
  border-color: #6c757d;
  &__data-toggle {
    background-color: #f8f9fa;
    color: #6c757d;
    &--active {
      background-color: #007bff;
      color: #ffffff;
    }
  }
}