// --- Переменные ---
// Заменяем CSS-переменные на Less-переменные
@verticalMenuDataSource-card-renderer-padding-left: 0;
@verticalMenuDataSource-card-renderer-padding-right: 0;

// --- Основные стили ---
.CardList {
    padding-left: @data-card-renderer-padding-left;
    padding-right: @data-card-renderer-padding-right;
}
