:root {
    --main-menu-color-primary: #007bff;
    --main-menu-color-white: #ffffff;
    --main-menu-border-radius-base: 8px;
    --main-menu-border-width-base: 2px;
    --main-menu-font-color-primary: #ffffff;
    --main-menu-font-color-secondary: #007bff;
    --main-menu-transition-base: background-color 0.3s ease;
    --main-menu-button-margin-horizontal-base: 5px;
    --side-menu-button-padding-horizontal-base: 10px;
    --side-menu-button-padding-vertical-base: 8px;
    --side-menu-button-margin-vertical-base: 5px;
    --main-menu-font-size-extra-small: 12px;
    --main-menu-font-size-small: 14px;
    --main-menu-font-size-base: 16px;
    --main-menu-font-size-medium: 18px;
    --main-menu-font-size-large: 20px;
    --main-menu-container-padding-base: 10px;
}

.MainMenu-Column {
    padding-left: 8px;
    padding-right: 8px;
}

.MainMenu-ControlsGroup {
    min-width: 100%;
    border-radius: var(--main-menu-border-radius-base);
    font-size: var(--main-menu-font-size-base);
    transition: var(--main-menu-transition-base);
    cursor: pointer;
}

.MainMenu-ControlsGroup_Horizontal {
    background-color: var(--main-menu-color-primary);
    border: none;
    color: var(--main-menu-color-white);
}

.control-add,
.control-substract,
.control-counter {
    border-radius: var(--main-menu-border-radius-base);
    transition: var(--main-menu-transition-base);
    padding: var(--side-menu-button-padding-vertical-base) var(--side-menu-button-padding-horizontal-base);
    border: none;
    color: var(--main-menu-color-white);
    font-size: var(--main-menu-font-size-base);
    cursor: pointer;
}

.control-add:hover,
.control-substract:hover,
.control-counter:hover {
    color: var(--main-menu-color-white);
}

.control-add:focus,
.control-substract:focus,
.control-counter:focus {
    box-shadow: none;
}

/* Адаптивные стили */
/* Для мобильных экранов (от 576px) */
@media (min-width: 576px) {
    .MainMenu-ControlsGroup {
        flex-direction: column;
        font-size: var(--main-menu-font-size-base);
        padding: 0;
        margin: var(--main-menu-button-margin-horizontal-base);
    }

    .control-add,
    .control-substract,
    .control-counter {
        font-size: var(--main-menu-font-size-base);
        padding: var(--side-menu-button-padding-vertical-base) var(--side-menu-button-padding-horizontal-base);
    }
}

/* Для планшетов (от 768px) */
@media (min-width: 768px) {
    .MainMenu-ControlsGroup {
        flex-direction: column;
        font-size: var(--main-menu-font-size-medium);
    }

    .control-add,
    .control-substract,
    .control-counter{
        font-size: var(--main-menu-font-size-medium);
    }
}

/* Для небольших десктопов (от 992px) */
@media (min-width: 992px) {
    .MainMenu-ControlsGroup {
        flex-direction: row;
        font-size: var(--main-menu-font-size-large);
    }

    .control-add,
    .control-substract,
    .control-counter {
        font-size: var(--main-menu-font-size-large);
    }
}

/* Для больших десктопов (от 1200px) */
@media (min-width: 1200px) {
    .MainMenu-ControlsGroup {
        flex-direction: row;
        font-size: var(--main-menu-font-size-large);
    }

    .control-add,
    .control-substract,
    .control-counter {
        font-size: var(--main-menu-font-size-large);
    }
}