// Компонентные стили дочернего списка сброса дерева
.tree-sublist {
  &__check-input-container {
    position: relative;
  }
  &__self-checkbox {
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
  &__custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 24px;
    height: 24px;
  }
  &__item {
    padding: 6px 24px;
  }
  &__item-text {
    margin-left: 6px;
  }
}




