:root {
    --comment-data-card-border-radius: 8px;
    --comment-data-card-body-padding: 8px;
    --comment-data-card-body-bg-color: #fefefe;
    --comment-data-card-title-color: #636464;
    --comment-data-card-title-font-weight: bold;
    --comment-data-card-subtitle-color: #636464;
    --comment-data-card-border-width: 1px;
    --comment-data-card-border-style: solid;
    --comment-data-card-border-color: #fdfdfe;
    --comment-data-card-text-color: #636464;

    /* Внешний отступ снизу */
    --comment-data-card-margin-bottom-xs: 8px;
    --comment-data-card-margin-bottom-sm: 12px;
    --comment-data-card-margin-bottom-md: 16px;
    --comment-data-card-margin-bottom-lg: 24px;
    --comment-data-card-margin-bottom-xl: 28px;

    /* Отступы */
    --comment-data-card-spacing-xs: 8px;
    --comment-data-card-spacing-sm: 12px;
    --comment-data-card-spacing-md: 8px;
    --comment-data-card-spacing-lg: 12px;
    --comment-data-card-spacing-xl: 14px;

    /* Шрифты */
    --comment-data-card-font-size-xs: 15px;
    --comment-data-card-font-size-sm: 16px;
    --comment-data-card-font-size-md: 17px;
    --comment-data-card-font-size-lg: 18px;
    --comment-data-card-font-size-xl: 19px;
    --comment-data-card-renderer-padding-left: 0;
    --comment-data-card-renderer-padding-right: 0;
}

.CommentList {
    padding-left: var(--comment-data-card-renderer-padding-left);
    padding-right: var(--comment-data-card-renderer-padding-right);
}

.CommentDataCard {
    border: none;
    border-radius: var(--comment-data-card-border-radius);
}

.CommentDataCard-Body {
    background-color: var(--comment-data-card-body-bg-color);
    border-radius: var(--comment-data-card-border-radius);
    border: var(--comment-data-card-border-width) var(--comment-data-card-border-style) var(--comment-data-card-border-color);
}

@media (min-width: 344px) {
    .CommentDataCard-Body {
        padding: var(--comment-data-card-spacing-xs);
    }
}

@media (min-width: 575px) {
    .CommentDataCard-Body {
        padding: var(--comment-data-card-spacing-sm);
    }
}

@media (min-width: 767px) {
    .CommentDataCard-Body {
        padding: var(--comment-data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .CommentDataCard-Body {
        padding: var(--comment-data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .CommentDataCard-Body {
        padding: var(--comment-data-card-spacing-xl);
    }
}

.CommentDataCard-Title {
    color: var(--comment-data-card-title-color);
    font-weight: var(--comment-data-card-title-font-weight);
}

@media (min-width: 344px) {
    .CommentDataCard-Title {
        font-size: var(--comment-data-card-font-size-xs);
        padding-bottom: var(--comment-data-card-spacing-xs);
    }
}

@media (min-width: 576px) {
    .CommentDataCard-Title {
        font-size: var(--comment-data-card-font-size-sm);
        padding-bottom: var(--comment-data-card-spacing-sm);
    }
}

@media (min-width: 768px) {
    .CommentDataCard-Title {
        font-size: var(--comment-data-card-font-size-md);
        padding-bottom: var(--comment-data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .CommentDataCard-Title {
        font-size: var(--comment-data-card-font-size-lg);
        padding-bottom: var(--comment-data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .CommentDataCard-Title {
        font-size: var(--comment-data-card-font-size-xl);
        padding-bottom: var(--comment-data-card-spacing-xl);
    }
}

.CommentDataCard-Subtitle {
    color: var(--comment-data-card-subtitle-color);
}

@media (min-width: 344px) {
    .CommentDataCard-Subtitle {
        font-size: var(--comment-data-card-font-size-xs);
        padding-bottom: var(--comment-data-card-spacing-xs);
    }
}

@media (min-width: 575px) {
    .CommentDataCard-Subtitle {
        font-size: var(--comment-data-card-font-size-sm);
        padding-bottom: var(--comment-data-card-spacing-sm);
    }
}

@media (min-width: 767px) {
    .CommentDataCard-Subtitle {
        font-size: var(--comment-data-card-font-size-md);
        padding-bottom: var(--comment-data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .CommentDataCard-Subtitle {
        font-size: var(--comment-data-card-font-size-lg);
        padding-bottom: var(--comment-data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .CommentDataCard-Subtitle {
        font-size: var(--comment-data-card-font-size-xl);
        padding-bottom: var(--comment-data-card-spacing-xl);
    }
}

.CommentDataCard-Text {
    color: var(--comment-data-card-text-color);
}

@media (min-width: 344px) {
    .CommentDataCard-Text {
        font-size: var(--comment-data-card-font-size-xs);
        padding-bottom: var(--comment-data-card-spacing-xs);
    }
}

@media (min-width: 575px) {
    .CommentDataCard-Text {
        font-size: var(--comment-data-card-font-size-sm);
        padding-bottom: var(--comment-data-card-spacing-sm);
    }
}

@media (min-width: 768px) {
    .CommentDataCard-Text {
        font-size: var(--comment-data-card-font-size-md);
        padding-bottom: var(--comment-data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .CommentDataCard-Text {
        font-size: var(--comment-data-card-font-size-lg);
        padding-bottom: var(--comment-data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .CommentDataCard-Text {
        font-size: var(--comment-data-card-font-size-xl);
        padding-bottom: var(--comment-data-card-spacing-xl);
    }
}

.CommentDataCard-Text:last-child {
    padding-bottom: 0;
}
