@import '../tools/_overlay-reset-padding-mixin';
@import '../tools/_overlay-reset-column-mixin';

// Сброс стилей заголовка всплывающего окна
.columns-grid {
  &__column--2 {
    // Сбрасываем внутренние отступы во втором столбце заголовка
    .overlay-reset-padding(@padding: 0);
  }
}

.column-list {
  .overlay-reset-column(0, none, 0);
  &__checkbox-input {
    opacity: 0;
  }
  &__checkbox-label {
    margin-bottom: 0;
  }
}

.overlay-editable {
  &__header,
  &__footer,
  &__body,
  &-list--column {
    .overlay-reset-column(0, none, 0);
  }
  &__content {
    border: none;
    margin-bottom: 0;
  }
  &__button-close {
    border: none;
  }
}

.overlay-editable-list {
  &__item,
  &__form-check,
  &__check-label {
    .overlay-reset-padding(@padding: 0);
  }
}

// Стили сброса списка редактирования
.overlay-editable-list {
  overflow-x: hidden;
  &__item {
    border-bottom: none;
  }
  &__check-input {
    opacity: 0;
  }
}