:root {
    --user-data-card-border-radius: 8px;
    --user-data-card-body-bg-color: #d1e7dd;
    --user-data-card-title-color: #0f5132;
    --user-data-card-title-font-weight: bold;
    --user-data-card-subtitle-color: #0f5132;
    --user-data-card-border-width: 1px;
    --user-data-card-border-style: solid;
    --user-data-card-border-color: #badbcc;
    --user-data-card-text-color: #0f5132;

    /* Внешний отступ снизу */
    --user-data-card-margin-bottom-xs: 8px;
    --user-data-card-margin-bottom-sm: 12px;
    --user-data-card-margin-bottom-md: 8px;
    --user-data-card-margin-bottom-lg: 12px;
    --user-data-card-margin-bottom-xl: 14px;

    /* Отступы */
    --user-data-card-spacing-xs: 8px;
    --user-data-card-spacing-sm: 12px;
    --user-data-card-spacing-md: 8px;
    --user-data-card-spacing-lg: 12px;
    --user-data-card-spacing-xl: 14px;

    /* Шрифты */
    --user-data-card-font-size-xs: 15px;
    --user-data-card-font-size-sm: 16px;
    --user-data-card-font-size-md: 17px;
    --user-data-card-font-size-lg: 18px;
    --user-data-card-font-size-xl: 19px;

    --user-data-card-renderer-padding-left: 0;
    --user-data-card-renderer-padding-right: 0;
}

.UserDataList {
    padding-left: var(--user-data-card-renderer-padding-left);
    padding-right: var(--user-data-card-renderer-padding-right);
}

.UserCard {
    border: none;
    border-radius: var(--user-data-card-border-radius);
}

.UserCard-Body {
    background-color: var(--user-data-card-body-bg-color);
    border-radius: var(--user-data-card-border-radius);
    border: var(--user-data-card-border-width) var(--user-data-card-border-style) var(--user-data-card-border-color);
}

@media (min-width: 344px) {
    .UserCard-Body {
        padding: var(--user-data-card-spacing-xs);
    }
}

@media (min-width: 575px) {
    .UserCard-Body {
        padding: var(--user-data-card-spacing-sm);
    }
}

@media (min-width: 767px) {
    .UserCard-Body {
        padding: var(--user-data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .UserCard-Body {
        padding: var(--user-data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .UserCard-Body {
        padding: var(--user-data-card-spacing-xl);
    }
}

.UserCard-Title {
    color: var(--user-data-card-title-color);
    font-weight: var(--user-data-card-title-font-weight);
}

@media (min-width: 344px) {
    .UserCard-Title {
        font-size: var(--user-data-card-font-size-xs);
        padding-bottom: var(--user-data-card-spacing-xs);
    }
}

@media (min-width: 576px) {
    .UserCard-Title {
        font-size: var(--user-data-card-font-size-sm);
        padding-bottom: var(--user-data-card-spacing-sm);
    }
}

@media (min-width: 768px) {
    .UserCard-Title {
        font-size: var(--user-data-card-font-size-md);
        padding-bottom: var(--user-data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .UserCard-Title {
        font-size: var(--user-data-card-font-size-lg);
        padding-bottom: var(--user-data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .UserCard-Title {
        font-size: var(--user-data-card-font-size-xl);
        padding-bottom: var(--user-data-card-spacing-xl);
    }
}

.UserCard-Subtitle {
    color: var(--user-data-card-subtitle-color);
}

@media (min-width: 344px) {
    .UserCard-Subtitle {
        font-size: var(--user-data-card-font-size-xs);
        padding-bottom: var(--user-data-card-spacing-xs);
    }
}

@media (min-width: 575px) {
    .UserCard-Subtitle {
        font-size: var(--user-data-card-font-size-sm);
        padding-bottom: var(--user-data-card-spacing-sm);
    }
}

@media (min-width: 767px) {
    .UserCard-Subtitle {
        font-size: var(--user-data-card-font-size-md);
        padding-bottom: var(--user-data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .UserCard-Subtitle {
        font-size: var(--user-data-card-font-size-lg);
        padding-bottom: var(--user-data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .UserCard-Subtitle {
        font-size: var(--user-data-card-font-size-xl);
        padding-bottom: var(--user-data-card-spacing-xl);
    }
}

.UserCard-Text {
    color: var(--user-data-card-text-color);
}

@media (min-width: 344px) {
    .UserCard-Text {
        font-size: var(--user-data-card-font-size-xs);
        padding-bottom: var(--user-data-card-spacing-xs);
    }
}

@media (min-width: 575px) {
    .UserCard-Text {
        font-size: var(--user-data-card-font-size-sm);
        padding-bottom: var(--user-data-card-spacing-sm);
    }
}

@media (min-width: 768px) {
    .UserCard-Text {
        font-size: var(--user-data-card-font-size-md);
        padding-bottom: var(--user-data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .UserCard-Text {
        font-size: var(--user-data-card-font-size-lg);
        padding-bottom: var(--user-data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .UserCard-Text {
        font-size: var(--user-data-card-font-size-xl);
        padding-bottom: var(--user-data-card-spacing-xl);
    }
}

.UserCard-Text:last-child {
    padding-bottom: 0;
}