// Компонентные стили лаунчера
.tabs-launcher {
  position: relative;
  &__button {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    transition: background-color 0.5s ease-in-out;
  }
}

.navigation-wrapper {
  &__main {
    position: absolute;
  }
}

