// Scale font icons
@scale-font-icons-percent: 1.2;
// Responsive child list width
@child-navbar-list-width-sm: 120px;
@child-navbar-list-width-md: 140px;
@child-navbar-list-width-lg: 160px;
@child-navbar-list-width-xl: 180px;
@child-navbar-list-width-xxl: 200px;
// Увеличиваем масштаб иконки
@scale-font-icon: 1.2;
// Responsive Fonts
@font-size-sm: 15px;
@font-size-md: 16px;
@font-size-lg: 17px;
@font-size-xl: 18px;
@font-size-xxl: 19px;

.responsive-icon-font() {
  @media (min-width: 344px) {
    font-size: @font-size-sm * @scale-font-icon;
  }

  @media (min-width: 575px) {
    font-size: @font-size-md * @scale-font-icon;
  }

  @media (min-width: 768px) {
    font-size: @font-size-lg * @scale-font-icon;
  }

  @media (min-width: 992px) {
    font-size: @font-size-xl * @scale-font-icon;
  }

  @media (min-width: 1200px) {
    font-size: @font-size-xxl * @scale-font-icon;
  }
}
.responsive-child-list-width() {
  @media (min-width: 344px) {
    width: @child-navbar-list-width-sm
  }

  @media (min-width: 575px) {
    width: @child-navbar-list-width-md;
  }

  @media (min-width: 768px) {
    width: @child-navbar-list-width-lg;
  }

  @media (min-width: 992px) {
    width: @child-navbar-list-width-xl;
  }

  @media (min-width: 1200px) {
    width: @child-navbar-list-width-xxl;
  }
}
