@rct-tree-main-section-border-radius: 8px; // Скругление углов контейнера rct
// Стили компонента комплексное дерево
.rct-tree {
  &-main {
    // Устанавливаем скругление для контейнера комплексного дерева
    border-radius: @rct-tree-main-section-border-radius;
    // Растягиваем корневой элемент дерева по высоте на всю страницу
    height: 100vh;
    padding-top: 20px;
  }
  &-main &-item-arrow {
    // Устанавливаем размеры переключателя раскрывающегося списка
    width: 19px;
    height: 19px;
    margin-top: 6px;
    cursor: pointer;
  }
  &-main &-item-title-container {
    // Переставляем все элементы внутри контейнера в одну линию
    display: flex;
    padding-top: 6px;
  }
  &-main &-item-button {
    padding: 6px 24px;
    border-radius: 8px;
    margin-left: 12px;
  }
}