// Компонентные стили элемента таба
.tabs-item {
  width: 100%;
  &__icon {
    margin-left: 6px;
  }
  &__link,
  &__link:hover {
    color: #6c757d;
  }
  &--active {
    background-color: #6c757d;
    border-radius: 8px;
  }
  &--active &__link {
    color: #ffffff;
  }
}