// Подключаем функцию стилизации контейнера
@import '../mixins/_container-styling';
// Подключаем функцию устанавливающую цвет границы элемента
@import '../mixins/_border-style-set';

// Стили темной темы выпадающего списка учетной записи пользователя
.account-dropdown {
  // Темный полупрозрачный цвет фона
  @background-color-dark-half: rgba(33, 37, 41, 0.5);
  // Стартовый цвет границы
  @border-color-start: #ffc107;
  // Темный цвет границы
  @border-color-dark: #212529;
  // Темный цвет текста
  @color-text-dark: #212529;

  // Стили контейнера учетной записи
  &__toggle {
    // Устанавливаем базовый градиент контейнера учетной записи
    background: linear-gradient(to right, #f8f9fa, #f8f9fa 75%, #f8f9fa);
    &:hover {
      .container-styling(
          // устанавливаем основной градиент контейнера учетной записи
          linear-gradient(to right, #f8f9fa, #f8f9fa 75%, #ffc107),
          // устанавливаем стартовый цвет границы контейнера учетной записи
          @border-color-start
      );
    }
  }
  // Стили области аватара
  &__avatar {
    .container-styling(
      // устанавливаем темный полупрозрачный цвет фона области фото пользователя
      @background-color-dark-half,
      // устанавливаем стартовый цвет границы вокруг области фото пользователя
      @border-color-start
    );
  }
  // Стили текстовых элементов
  &__item--user-name, // правило для имени
  &__item--user-position { // правило для должности
    // Устанавливаем темный цвет текстовых элементов
    color: @color-text-dark !important;
  }
  // Стили текстовых элементов при наведении
  &__item--user-name:hover,
  &__item--user-position:hover {
    // Устанавливаем темный цвет границы
    // вокруг текстовых элементов
    .border-style-set(@border-color-dark);
  }
}

