@import '../mixins/_responsive';
@import '../mixins/_transition';
@import 'mixins/_effects';
@import 'mixins/_responsive';
// Colors
// Primary
@navbar-list-link-color: #ffffff;
@navbar-list-button-color: #ffffff;
@navbar-list-link-background-color: #2196f3;
// Hover
@navbar-list-link-hover-color: #ffffff;
@navbar-list-button-hover-color: #ffffff;
@navbar-list-link-background-color: #2196f3;
// Active
@navbar-list-link-active-color: #2196f3;
@navbar-list-button-active-color: #2196f3;
@navbar-list-link-active-background-color: #ffffff;

.NavbarList {
  &-Link {
    display: inline-block;
    // обычное состояние
    background-color: @navbar-list-link-background-color;
    color: @navbar-list-link-color;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
    .transition();
    .responsive-font-and-padding();
    .NavbarList-Button {
      color: @navbar-list-button-color;
    }
    &:hover {
      text-decoration: none;
      // прикосновение
      background-color: @navbar-list-link-background-color;
      color: @navbar-list-link-hover-color;
      .NavbarList-Button {
        color: @navbar-list-button-hover-color;
      }
    }
    &_active {
      background-color: @navbar-list-link-active-background-color;
      color: @navbar-list-link-active-color;
      .apply-pulse(0.7s);
      .NavbarList-Button {
        color: @navbar-list-button-active-color;
      }
    }
    &_active:hover {
      background-color: @navbar-list-link-active-background-color;
      color: @navbar-list-link-active-color;
      .NavbarList-Button {
        color: @navbar-list-button-active-color;
      }
    }
  }
  &-Icon {
    padding-right: 10px;
  }
  &-Icon,
  &-Button {
    .scale-font-size-icons-responsive();
  }
  &-Button {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
  }
}

@media (max-width: 1199px) {
  .NavbarList {
    &-Button {
      top: auto;
      bottom: 0;
      padding: 0;
    }
  }
}