// Храним толщину горизонтальной разделительной линии toggle button
@toggle-button-border-width: 2px;
@toggle-button-border-radius: 8px;
@added-button-border-radius: 8px;
// Стили типографики
.toggleButton {
  // Свойство для верхней разделительной линии
  border-top: @toggle-button-border-width solid !important;
  &__wrapper {
    border-radius: @toggle-button-border-radius;
  }
  &__button {
    &--added {
      // Полностью прижимаем кнопку добавления к правой границы toggle button
      margin-left: auto;
      border-radius: @added-button-border-radius;
    }
  }
}