// Задаем шрифт заголовка рабочего стола
@desktop-title-font-size-sm: 14px;
@desktop-title-font-size-md: 16px;
@desktop-title-font-size-lg: 18px;
@desktop-title-font-size-xl: 20px;

// Задаем внутренние отступы внутри рабочего стола
// для всех экранов
@desktop-around-padding-sm: 14px;
@desktop-around-padding-md: 16px;
@desktop-around-padding-lg: 18px;
@desktop-around-padding-xl: 20px;

// Миксин для установки адаптивной ширины контейнера рабочего стола
.desktop-container-width-responsive() {
  @media (min-width: 576px) {
    width: 100%;
  }

  @media (min-width: 344px) and (max-width: 575px) {
    width: calc(100% - 100px);
  }
}
// Миксин для установки адаптивного шрифта заголовка на рабочем столе
.desktop-title-font-size-responsive() {
  @media (min-width: 344px) {
    font-size: @desktop-title-font-size-sm;
  }

  @media (min-width: 575px) {
    font-size: @desktop-title-font-size-md;
  }

  @media (min-width: 768px) {
    font-size: @desktop-title-font-size-lg;
  }

  @media (min-width: 992px) {
    font-size: @desktop-title-font-size-xl;
  }
}
// Миксин для установки адаптивных внутренних отступов на рабочем столе
.desktop-padding-responsive() {
  @media (max-width: 575px) {
    padding: @desktop-around-padding-sm;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    padding: @desktop-around-padding-md;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding: @desktop-around-padding-lg;
  }

  @media (min-width: 992px) {
    padding: @desktop-around-padding-xl  0;
  }
}