// Компонентные стили сброса кнопочной навигационной панели
.dropdown-interactive-bar {
  &__data-toggle {
    &--active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__content-data .drop-end {
    border-radius: 0;
    border: none;
  }
  &__content-data .modal-button-toggle {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
  }
}