:root {
    --data-card-head-header-padding: 0;
    --data-card-head-button-group-right: 0;
    --data-card-head-button-padding: 0;
    --data-card-head-header-border: none;
    --data-card-head-button-focus-box-shadow: none;
    --data-card-head-button-group-background: transparent;
    --data-card-head-button-group-position: absolute;
    --data-card-head-button-group-top: 10px;
    --data-card-head-button-width: 30px;
    --data-card-head-button-background-color: #ffffff;
    --data-card-head-button-color: #333333;
    --data-card-head-button-hover-background-color: #007bff;
    --data-card-head-button-hover-color: #ffffff;
    --data-card-head-button-border-radius: 8px;
    --data-card-head-button-transition: background-color 0.3s ease;
    /* Отступ справа */
    --data-card-head-between-button-spacing-xs: 4px;
    --data-card-head-between-button-spacing-sm: 6px;
    --data-card-head-between-button-spacing-md: 8px;
    --data-card-head-between-button-spacing-lg: 9px;
    --data-card-head-between-button-spacing-xl: 10px;
    /* Диапазон шрифтов */
    --data-card-head-button-font-size: 12px;
    --data-card-head-font-size-xs: 15px;
    --data-card-head-font-size-sm: 16px;
    --data-card-head-font-size-md: 17px;
    --data-card-head-font-size-lg: 18px;
    --data-card-head-font-sze-xl: 19px;
}

.DataCardHeader {
    padding: var(--data-card-head-header-padding);
    border: var(--data-card-head-header-border);
}

.DataCardHeader-ButtonGroup {
    display: flex;
    flex-direction: column;
    position: var(--data-card-head-button-group-position);
    top: var(--data-card-head-button-group-top);
    right: var(--data-card-head-button-group-right);
    border: var(--data-card-head-header-border);
    background-color: var(--data-card-head-button-group-background);
}

@media (min-width: 344px) {
    .DataCardHeader-ButtonGroup {
        padding-right: var(--data-card-head-between-button-spacing-xs);
    }
}

@media (min-width: 575px) {
    .DataCardHeader-ButtonGroup {
        padding-right: var(--data-card-head-between-button-spacing-sm);
    }
}

@media (min-width: 768px) {
    .DataCardHeader-ButtonGroup {
        padding-right: var(--data-card-head-between-button-spacing-md);
    }
}

@media (min-width: 992px) {
    .DataCardHeader-ButtonGroup {
        padding-right: var(--data-card-head-between-button-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .DataCardHeader-ButtonGroup {
        padding-right: var(--data-card-head-between-button-spacing-xl);
    }
}

.DataCardHeader-Button {
    width: var(--data-card-head-button-width);
    background-color: var(--data-card-head-button-background-color);
    color: var(--data-card-head-button-color);
    border-radius: var(--data-card-head-button-border-radius) !important;
    padding: var(--data-card-head-button-padding);
    font-size: var(--data-card-head-button-font-size);
    transition: var(--data-card-head-button-transition);
}

@media (min-width: 344px) {
    .DataCardHeader-Button {
        font-size: var(--data-card-head-font-size-xs);
        margin-bottom: var(--data-card-head-between-button-spacing-xs);
    }
}

@media (min-width: 575px) {
    .DataCardHeader-Button {
        font-size: var(--data-card-head-font-size-sm);
        margin-bottom: var(--data-card-head-between-button-spacing-sm);
    }
}

@media (min-width: 767px) {
    .DataCardHeader-Button {
        font-size: var(--data-card-head-font-size-md);
        margin-bottom: var(--data-card-head-between-button-spacing-md);
    }
}

@media (min-width: 992px) {
    .DataCardHeader-Button {
        font-size: var(--data-card-head-font-size-lg);
        margin-bottom: var(--data-card-head-between-button-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .DataCardHeader-Button {
        font-size: var(--data-card-head-font-sze-xl);
        margin-bottom: var(--data-card-head-between-button-spacing-xl);
    }
}

.DataCardHeader-Button:hover {
    background-color: var(--data-card-head-button-hover-background-color);
    color: var(--data-card-head-button-hover-color);
    border: none;
}

.DataCardHeader-Button:focus {
    box-shadow: var(--data-card-head-button-focus-box-shadow);
}

.DataCardHeader-Button:last-child {
    margin-bottom: 0;
}
