// Тема 1 - белая Стили выпадающего списка учетной записи пользователя
.account-dropdown {
  &__toggle {
    background: linear-gradient(to right, #f8f9fa, #f8f9fa 75%, #f8f9fa);
    &:hover {
      background: linear-gradient(to right, #f8f9fa, #f8f9fa 75%, #6c757d);
      border-color: #6c757d;
    }
  }
  &__avatar {
    // Устанавливаем цвет границы у фото пользователя
    background-color: #6c757d;
    border-color: #ffffff;
  }
  &__item--user-name, // устанавливаем цвет текста для имени
  &__item--user-position { // устанавливаем цвет текста для должности
    color: #6c757d !important;
  }
  &__item--user-name:hover,
  &__item--user-position:hover {
    // у hover цвет текста сохраняется
    // устанавливаем цвет границы у элемента с текстом
    // в области этого выпадающего списка
    border-color: #6c757d;
  }
}