// Подключаем миксин адаптивной конфигурации рабочего стола
@import '../tools/_desktop-responsive';

// Стили рабочего стола
.Desktop {
  // Растягиваем на всю высоту экрана
  height: 100vh;
  margin-left: auto;
  // Скрываем часть блока, который выходит за пределы app
  overflow: hidden;

  // Применение адаптивных миксинов
  .desktop-container-width-responsive();
  .desktop-padding-responsive();

  // Стили заголовка рабочего стола
  &-Title {
    padding: 20px; // устанавливаем внутренние отступы со всех сторон
    width: 100%; // растягиваем заголовок на всю ширину родительского контейнера
  }
}