// Параметры управления интерфейсом
// Фон списка результатов фильтра в неактивном состоянии
@filter-list-background: #212529;
// Фон списка результатов при наведении
@filter-list-background-hover: #ffc107;
// Цвет текста элемента списка в неактивном состоянии
@color-text: #ffc107;
// Цвет текста элемента списка при наведении
@color-text-hover: #212529;

// Тема 3 - Системная Список результатов фильтра поиска
.filter-result {
  &-list {
    // Устанавливаем черный цвет списка результатов
    background-color: @filter-list-background;
  }
  &__item {
    // Устанавливаем аналогичный цвет фона по умолчанию
    background-color: @filter-list-background;
    &:hover {
      // Устанавливаем цвет фона элементу списка при наведении
      background-color: @filter-list-background-hover;
    }
  }
  &__text {
    // Устанавливаем цвет текста элементу списка в неактивном состоянии
    color: @color-text;
  }
  &__item:hover &__text {
    // Устанавливаем цвет текста элемента списка при наведении
    color: @color-text-hover;
  }
}
