// Основные параметры управления интерфейсом
// Фон списка результатов фильтра в неактивном состоянии
@filter-list-background: #ced4da;
// Фон списка результатов при наведении
@filter-list-background-hover: #6c757d;
// Цвет текста элемента в неактивном состоянии
@color-text: #ffffff;
// Цвет текста элемента при наведении
@color-text-hover: #ced4da;

// Тема 2 - серая Список результатов фильтра поиска
.filter-result {
  &-list {
    // Устанавливаем цвет фона самого списка
    background-color: @filter-list-background;
  }
  &__item {
    // Устанавливаем цвет фона элемента списка в неактивном состоянии
    // задаем аналогичное, что и списку, иначе при анимировании фона будет заметна неточность
    background-color: @filter-list-background;
    &:hover {
      // Устанавливаем цвет фона элемента списка при наведении
      background-color: @filter-list-background-hover;
    }
  }
  &__text {
    // Устанавливаем цвет текста элемента списка в неактивном состоянии
    color: @color-text;
  }
  &__item:hover &__text {
    // Устанавливаем цвет текста элемента списка при наведении
    color: @color-text-hover;
  }
}