// Основные параметры управления интерфейсом
// Фон списка результатов фильтра в неактивном состоянии
@filter-list-background: #ffffff;
// Фон списка результатов при наведении
@filter-list-background-hover: #007bff;
// Цвет текста элемента списка в неактивном состоянии
@color-text: #ffffff;
// Цвет текста элемента списка при наведении
@color-text-hover: #007bff;

// Тема 1 - Белая Список результатов фильтра поиска
.filter-result {
  &-list {
    // Устанавливаем белый цвет списка результатов
    background-color: #ffffff;
  }
  &__item {
    // Устанавливаем аналогичный цвет фона элементу списка
    background-color: #ffffff;
    &:hover {
      // Устанавливаем цвет элементу списка при наведении
      background-color: #007bff;
    }
  }
  &__text {
    // Устанавливаем цвет текста элементу списка в неактивном состоянии
    color: #007bff;
  }
  &__item:hover &__text {
    // Устанавливаем цвет текста элемента списка при наведении
    color: #ffffff;
  }
}