// Установка параметров управления наведения

// Устанавливаем цвет кнопки при наведении
@background-color-hover: #ffffff;
// Устанавливаем прозрачный цвет границы
@border-color-transparent: transparent;
// Устанавливаем цвет текста при наведении
@color-text-hover: #6c757d;