// Установка параметров управления наведения

// Устанавливаем фон кнопки при наведении
@background-color-hover: #ffc107;
// Устанавливаем прозрачный цвет границы
@border-color-transparent: transparent;
// Устанавливаем цвет текста при наведении
@color-text-hover: #212529;