// Основные параметры управления интерфейсом
// Устанавливаем основной цвет границы
@border-color-primary: #007bff;
// Устанавливаем основной цвет текста
@color-text-primary: #007bff;

// Параметры управления интерфейсом при наведении
// Прозрачный цвет границы
@border-color-transparent: transparent;
// Основной фон для элемента списка
@dropdown-bg-primary: #007bff;
// Цвет текста элемента списка
@color-text: #ffffff;

// Тема 1 - белая Стили меню профиля пользователя
.account-dropdown-menu {
  &__link {
    border-color: @border-color-primary;
    color: @color-text-primary;
    &:hover {
      border-color: @border-color-transparent;
      background-color: @dropdown-bg-primary;
      color: @color-text;
    }
  }
}