// Компонентные стили сброса
.filter-search {
  &:focus {
    box-shadow: none;
  }
  &__result-list {
    border: none;
  }
  &__list-item {
    border-bottom: none;
    background-color: transparent;
  }
}