// Сохраняем цвета toolbar в переменные
@tree-toolbar-button-background-color: #007FFF;
@tree-toolbar-button-text-color: #ffffff;
@tree-view-root-title-color: #007FFF;

// Задаем цветовую палитру корневого узла дерева
.tree-select-toolbar {
  &__button {
    background-color: @tree-toolbar-button-background-color;
    color: @tree-toolbar-button-text-color;
    transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: #ffffff;
      color: #007bff;
    }
  }
}

.tree-view {
  &__button-title {
    &,
    &:hover,
    &:focus {
      color: @tree-view-root-title-color;
    }
    &:hover {
      background-color: #c0c0c0;
    }
  }
}