// Диапазон адаптивного размера шрифта
@navbar-list-font-size-sm: 22px; // Размер шрифта для очень маленьких гаджетов
@navbar-list-font-size-md: 20px; // Размер шрифта для мобильных телефонов
@navbar-list-font-size-lg: 18px; // Размер шрифта для ноутбуков
@navbar-list-font-size-xl: 16px; // Размер шрифта для ПК
// Диапазон адаптивных внутренних отступов
@navbar-list-padding-sm: 16px; // Отступы для очень маленьких гаджетов
@navbar-list-padding-md: 14px; // Отступы для мобильных телефонов
@navbar-list-padding-lg: 12px; // Отступы для планшетов
@navbar-list-padding-xl: 8px; // Отступы для ноутбуков

.responsive-font-size-nav-list() {
  @media (min-width: 344px) {
    font-size: @navbar-list-font-size-sm;
  }

  @media (min-width: 768px) {
    font-size: @navbar-list-font-size-md;
  }

  @media (min-width: 992px) {
    font-size: @navbar-list-font-size-lg;
  }

  @media (min-width: 1200px) {
    font-size: @navbar-list-font-size-xl;
  }
}

.responsive-padding-nav-list() {
  @media (min-width: 344px) {
    padding: @navbar-list-padding-sm;
  }

  @media (min-width: 768px) {
    padding: @navbar-list-padding-md;
  }

  @media (min-width: 992px) {
    padding: @navbar-list-padding-lg;
  }

  @media (min-width: 1200px) {
    padding: @navbar-list-padding-xl;
  }
}

.responsive-nav-list-font-icon(
  @font-icon-sm,
  @font-icon-md,
  @font-icon-lg,
  @font-icon-xl
) {
  @media (min-width: 344px) {
    font-size: @font-icon-sm;
  }
  @media (min-width: 768px) {
    font-size: @font-icon-md;
  }
  @media (min-width: 992px) {
    font-size: @font-icon-lg;
  }
  @media (min-width: 1200px) {
    font-size: @font-icon-xl;
  }
}
