// Стили типографики заголовка окна редактирования
.column-list {
  &__checkbox-label {
    border: 1px dashed;
    text-align: center;
    font-size: 18px;
  }
  &__checkbox-text {
    font-size: 18px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
}

// Стили типографики кнопки управляющей состоянием
// открытия / закрытия модального окна со списком
.modal-button-toggle {
  font-size: 22px;
}

// Стили типографики окна со списком
.overlay-editable {
  &__title,
  &__button-close {
    font-size: 18px;
  }
}

// Стили типографики списка редактирования
.overlay-editable-list {
  &__check-label {
    text-align: center;
    border: 1px dashed;
    font-size: 18px;
  }
}

.form-check-text {
  font-size: 18px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}