:root {
    --card-border-radius: 8px;
    --card-body-padding: 8px;
    --card-body-bg-color: #e0e0e0;
    --card-title-color: #333333;
    --card-title-font-weight: bold;
    --card-subtitle-color: #a7adb3;
    --card-subtitle-padding-bottom: 6px;
    --card-border-width: 1px;
    --card-border-style: solid;
    --card-border-color: #c0c0c0;
    --card-text-font-size: 0.875rem;
    --card-text-color: #333333;
    --card-text-padding-bottom: 6px;
    --card-footer-bg-color: #e0e0e0;

    /* Внешний отступ снизу */
    --card-margin-bottom-xs: 8px;
    --card-margin-bottom-sm: 12px;
    --card-margin-bottom-md: 16px;
    --card-margin-bottom-lg: 24px;
    --card-margin-bottom-xl: 28px;

    /* Отступы */
    --data-card-spacing-xs: 8px;
    --data-card-spacing-sm: 12px;
    --data-card-spacing-md: 16px;
    --data-card-spacing-lg: 24px;
    --data-card-spacing-xl: 28px;

    /* Шрифты */
    --data-card-font-size-xs: 15px;
    --data-card-font-size-sm: 16px;
    --data-card-font-size-md: 17px;
    --data-card-font-size-lg: 18px;
    --data-card-font-size-xl: 19px;
}

.Card {
    border: none;
    border-radius: var(--card-border-radius);
}

@media (min-width: 344px) {
    .Card_Single {
        margin-bottom: var(--card-margin-bottom-xs);
    }
}

@media (min-width: 575px) {
    .Card_Single {
        margin-bottom: var(--card-margin-bottom-sm);
    }
}

@media (min-width: 768px) {
    .Card_Single {
        margin-bottom: var(--card-margin-bottom-md);
    }
}

@media (min-width: 992px) {
    .Card_Single {
        margin-bottom: var(--card-margin-bottom-lg);
    }
}

@media (min-width: 1200px) {
    .Card_Single {
        margin-bottom: var(--card-margin-bottom-xl);
    }
}

.CardList:last-child .Card_Single {
    margin-bottom: 0;
}

.Card-Body {
    background-color: var(--card-body-bg-color);
    border-radius: var(--card-border-radius);
    border: var(--card-border-width) var(--card-border-style) var(--card-border-color);
}

@media (min-width: 344px) {
    .Card-Body {
        padding: var(--data-card-spacing-xs);
    }
}

@media (min-width: 575px) {
    .Card-Body {
        padding: var(--data-card-spacing-sm);
    }
}

@media (min-width: 767px) {
    .Card-Body {
        padding: var(--data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .Card-Body {
        padding: var(--data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .Card-Body {
        padding: var(--data-card-spacing-xl);
    }
}

.Card-Title {
    color: var(--card-title-color);
    font-weight: var(--card-title-font-weight);
}

@media (min-width: 344px) {
    .Card-Title {
        font-size: var(--data-card-font-size-xs);
        padding-bottom: var(--data-card-spacing-xs);
    }
}

@media (min-width: 576px) {
    .Card-Title {
        font-size: var(--data-card-font-size-sm);
        padding-bottom: var(--data-card-spacing-sm);
    }
}

@media (min-width: 768px) {
    .Card-Title {
        font-size: var(--data-card-font-size-md);
        padding-bottom: var(--data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .Card-Title {
        font-size: var(--data-card-font-size-lg);
        padding-bottom: var(--data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .Card-Title {
        font-size: var(--data-card-font-size-xl);
        padding-bottom: var(--data-card-spacing-xl);
    }
}

.Card-Subtitle {
    color: var(--card-subtitle-color);
}

@media (min-width: 344px) {
    .Card-Subtitle {
        font-size: var(--data-card-font-size-xs);
        padding-bottom: var(--data-card-spacing-xs);
    }
}

@media (min-width: 575px) {
    .Card-Subtitle {
        font-size: var(--data-card-font-size-sm);
        padding-bottom: var(--data-card-spacing-sm);
    }
}

@media (min-width: 767px) {
    .Card-Subtitle {
        font-size: var(--data-card-font-size-md);
        padding-bottom: var(--data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .Card-Subtitle {
        font-size: var(--data-card-font-size-lg);
        padding-bottom: var(--data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .Card-Subtitle {
        font-size: var(--data-card-font-size-xl);
        padding-bottom: var(--data-card-spacing-xl);
    }
}

.Card-Text {
    color: var(--card-text-color);
}

@media (min-width: 344px) {
    .Card-Text {
        font-size: var(--data-card-font-size-xs);
        padding-bottom: var(--data-card-spacing-xs);
    }
}

@media (min-width: 575px) {
    .Card-Text {
        font-size: var(--data-card-font-size-sm);
        padding-bottom: var(--data-card-spacing-sm);
    }
}

@media (min-width: 768px) {
    .Card-Text {
        font-size: var(--data-card-font-size-md);
        padding-bottom: var(--data-card-spacing-md);
    }
}

@media (min-width: 992px) {
    .Card-Text {
        font-size: var(--data-card-font-size-lg);
        padding-bottom: var(--data-card-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .Card-Text {
        font-size: var(--data-card-font-size-xl);
        padding-bottom: var(--data-card-spacing-xl);
    }
}

.Card-Text:last-child {
    padding-bottom: 0;
}

.Card-Text_Visual {
    border-radius: var(--card-border-radius);
}
