// Основной цвет границы фильтра поиска
@border-text-color-primary: #007bff;
// Основной цвет текста фильтра поиска
@color-primary: #007bff;

// Тема 1 - белая; Основной фильтр поиска
.filter-search {
  // Устанавливаем цвет границы фильтра поиска
  border-color: @border-text-color-primary;
  &::placeholder,
  &:focus {
    // Устанавливаем цвет текста фильтра поиска
    color: @color-primary;
  }
}