@import '../tools/_tree-view-template-radius-mixin';

// Стили корневого элемента дерева
.TreeRoot {
  // Растягиваем корневой элемент кастомного дерева на всю высоту экрана
  height: 100vh;
}

.tree-select-toolbar {
  &__button {
    .tree-view-template-radius(8px);
    &:last-child {
      margin-left: 6px !important;
    }
  }
}

// Стили компонента отображающего деревья
.tree-view {
  // Скрываем прокрутку по горизонтали
  overflow-x: hidden;
  // Показываем полосу прокрутки по вертикали
  overflow-y: scroll;
  // Уменьшаем ширину полосы прокрутки дерева
  scrollbar-width: thin;
  // Устанавливаем максимальную ширину
  max-height: 700px;
  &__root {
    padding-top: 20px;
  }
  &__isFolder {
    flex-direction: column;
    padding-top: 6px;
  }
  &__button-title {
    display: flex;
    align-items: center;
    .tree-view-template-radius(50%);
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: #ffffff;
    }
  }
  &__title {
    border-radius: 8px !important;
    background-color: #ffffff;
    padding: 6px 24px !important;
    margin-left: 12px !important;
    &:hover {
      background-color: #ffffff;
    }
    &-container {
      margin-bottom: 20px;
    }
  }
}

// Задаем стили для компонента бесконечной прокрутки
.infinite-scroll-component {
  // Максимальная высота вложенного списка,
  // чтобы увидеть полосу прокрутки
  max-height: 150px;
  // уменьшаем толщину стандартной полосы прокрутки в 2 раза
  scrollbar-width: thin;
}
