// Тема 3 - системная / черная
// Тема кнопки управления состоянием открытия / закрытия модального окна таблицы
.modal-button-toggle {
  color: #ffc107;
  background-color: transparent;
  border-color: #ffc107;
  &--focused {
    color: #ffffff;
    background-color: #ffc107;
    border-color: transparent;
  }
  &:hover {
    color: #ffc107;
    background-color: #ffffff;
    border-color: transparent;
  }
}