.tabs-item {
  padding: 0 !important;
  &__link {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
  &:last-child &__link {
    border-bottom: none !important;
  }
  &__text {
    display: none;
  }
}