// Параметры управления состоянием интерфейса при наведении

// Устанавливаем цвет фона кнопки при наведении
@background-color-hover: #ffffff;
// Устанавливаем прозрачный цвет границы
@border-color-transparent: transparent;
// Устанавливаем цвет текста при наведении
@color-text-hover: #6c757d;