// Компонентные стили сброса таблицы
.table {
  margin-bottom: 0;
  border-spacing: 0;
  &__column {
    padding: 0 !important;
    &:first-child {
      background-color: transparent !important;
    }
  }
  &__column,
  &__cell &__item-cell:first-child {
    border: none !important;
  }
  &__label,
  &__item-cell {
    overflow: hidden;
  }
  &__cell &__item-cell:first-child,
  &__cell &__item-cell:first-child:hover {
    background-color: transparent;
  }
}
// Убираем подсвечивание строк
.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}

// Убираем цвет фона в обоих состояниях для ячеек первого столбца
.table-striped > tbody > tr:nth-of-type(odd) td:first-child,
.table-striped > tbody > tr:nth-of-type(odd):hover td:first-child {
  background-color: transparent;
}

// Стили сброса чекбоксов таблицы
.table {
  &__checkbox-input {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  &__checkbox-label {
    margin-bottom: 0;
  }
}

.table-checkbox {
  &__cell {
    border-top: none !important;
  }
  &__cell + &__item-cell {
    display: none;
  }
}