// Адаптивный диапазон размера текста toggle button
@toggle-button-font-size-sm: 22px;
@toggle-button-font-size-md: 20px;
@toggle-button-font-size-lg: 18px;
@toggle-button-font-size-xl: 16px;
// Адаптивный диапазон размера иконок в toggle button
@toggle-button-font-icon-sm: 24px;
@toggle-button-font-icon-md: 22px;
@toggle-button-font-icon-lg: 20px;
@toggle-button-font-icon-xl: 18px;
// Создаем миксин с адаптивным размером текста
.toggle-button-font-size-responsive() {
  @media (min-width: 344px) {
    font-size: @toggle-button-font-size-sm;
  }

  @media (min-width: 575px) {
    font-size: @toggle-button-font-size-md;
  }

  @media (min-width: 768px) {
    font-size: @toggle-button-font-size-lg;
  }

  @media (min-width: 992px) {
    font-size: @toggle-button-font-size-xl;
  }
}
// Создаем миксин с адаптивным иконочным шрифтом
.toggle-button-font-size-scale-responsive() {
  @media (min-width: 344px) {
    font-size: @toggle-button-font-icon-sm;
  }

  @media (min-width: 575px) {
    font-size: @toggle-button-font-icon-md;
  }

  @media (min-width: 768px) {
    font-size: @toggle-button-font-icon-lg;
  }

  @media (min-width: 992px) {
    font-size: @toggle-button-font-icon-xl;
  }
}