.Header {

}

.HeaderMenu {

}

.HeaderMenu-Link {

}

#link-1::before {
    /* Unicode для иконки */
    content: "\F3C6";
    /* Указываем, что шрифт - Bootstrap Icons */
    font-family: 'bootstrap-icons'; /* Указываем шрифт Bootstrap Icons */
    /* Чтобы иконка вела себя как блочный элемент, но занимала место как строчный */
    display: inline-block;
    /* Отступ справа от иконки для привлекательного вида */
    margin-right: 0.5em;
}

#link-2::before {
    content: "\F3CA";
    font-family: 'bootstrap-icons';
    display: inline-block;
    margin-right: 0.5em;
}

#link-3::before {
    content: 'F3C7';
    font-family: 'bootstrap-icons';
    display: inline-block;
    margin-right: 0.5em;
}

.HeaderMenu-Link_Active {

}