.Sidebar {
    background-color: #f8f9fa;
    padding: 0;
    font-family: Arial, sans-serif;
}

.Sidebar-List {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #007bff;
    border-radius: 8px;
    text-align: center;
}

.Sidebar-Item {
    padding: 8px 16px;
    border-bottom: 1px solid #ffffff;
}

.Sidebar-Item:nth-child(last-child) {
    border-bottom: none;
}

.Sidebar-Link {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.Sidebar-Link:hover {
    background-color: #e2e6ea;
}

.Sidebar-Item .Sidebar-Link {
    color: #ffffff !important;
}

.Sidebar-Item.Sidebar-Item_Active .Sidebar-Link {
    color: #ffffff;
    background-color: #007bff;
}

.Sidebar-Collapse {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .Sidebar-List{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f8f9fa;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    .Sidebar-Item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}