// Цветова тема рабочего стола
@desktop-background-color: #e9ecef; // Базовый Цвет фона рабочего стола
@desktop-title-color: #ffffff; // Цвет заголовка рабочего стола
// Цвет границы навигационных кнопок рабочего стола
@desktop-nav-button-border-color: #007bff;
// Цвет фона активных навигационных кнопок рабочего стола
@desktop-nav-button-active-background-color: #007bff;
// Цвет текста активных навигационных кнопок рабочего стола
@desktop-nav-button-active-color: #ffffff;
// Цвет фона заголовка рабочего стола
@desktop-title-background-color: #e9ecef;
// Стили рабочего стола
.Desktop {
  // Устанавливаем базовый цвет фона рабочего стола
  background-color: @desktop-background-color;
  &-Title {
    // Устанавливаем цвет текста заголовка рабочего стола
    // для хорошей читаемости
    color: @desktop-title-color;
    background-color: @desktop-title-background-color;
  }
}

// Задаем цвет кнопкам рабочего стола
.desktop-nav {
  &__link {
    background-color: #ffffff;
    border-color: @desktop-nav-button-border-color !important;
    &.is-active {
      background-color: @desktop-nav-button-active-background-color;
      color: @desktop-nav-button-active-color;
    }
  }
  &__custom-border {
    border-color: #007bff !important;
  }
}

// Устанавливаем цвета кнопке выбора данных на рабочем столе
.desktop {
  &-title-box {
    &__tabs-data {
      // Задаем по умолчанию прозрачны цвет кнопки табов
      background-color: transparent;
      color: #ffffff;
      &:hover {
        // Задаем белый цвет фона при наведении
        background-color: #ffffff;
        color: #007bff;
      }
    }
  }
}