:root {
    --tree-icon-fill: #007bff;
    --tree-icon-font-size: 25px;
}

.RichTreeIcon {
    display: flex;
}

.RichTreeIcon svg {
    fill: var(--tree-icon-fill);
    font-size: var(--tree-icon-font-size);
}

@media (max-width: 344px) {
    .RichTreeIcon svg {
        font-size: 34px;
    }
}

@media (max-width: 575px) {
    .RichTreeIcon svg {
        font-size: 31px;
    }
}

@media (max-width: 767px) {
    .RichTreeIcon svg {
        font-size: 28px;
    }
}

@media (max-width: 991px) {
    .RichTreeIcon:first-child {
        order: 1;
        padding: 8px;
    }

    .RichTreeIcon svg {
        font-size: 25px;
    }

    .RichTreeIcon:first-child svg.bi-chevron-right {
        transform: rotate(90deg);
    }
}