// Компонентные стили окна отображения контента
.lightbox {
  &__dialog {
    height: 100%;
  }
  &__content {
    height: 100%;
    padding: 20px;
    border-radius: 8px;
  }
  &__title {
    margin-left: 45px;
    margin-bottom: 20px;
  }
  &__button-close {
    cursor: pointer;
  }
}