:root {
    --notify-loader-border-radius: 8px;
    --notify-loader-background-color: #007bff;
    --notify-loader-color: #ffffff;
    --notify-loader-text-align: center;
    --notify-loader-font-size: 16px;
    --notify-loader-padding: 4px;
    --notify-loader-width: 100%;
}

.NotifyLoad {
    border-radius: var(--notify-loader-border-radius);
    background-color: var(--notify-loader-background-color);
    color: var(--notify-loader-color);
    text-align: var(--notify-loader-text-align);
    font-size: var(--notify-loader-font-size);
    padding: var(--notify-loader-padding);
    min-width: var(--notify-loader-width);
}