@import '../mixins/_responsive';
@import 'mixins/_responsive';
@vertical-navbar-list-bg: #2196f3;

.VerticalNavbar {
  padding: 0;
  &-List {
    display: flex; /* Changed from 'block' to 'flex' as later overridden by flex */
    flex-direction: column; /* As defined later in CSS */
    list-style: none;
    margin: 0;
    background: @vertical-navbar-list-bg;
    text-align: center;
    height: 100%;
    // Apply responsive width mixin
    .responsive-width-list();
    // Apply responsive font size mixin
    .responsive-font();
  }
}