// Компонентные стили таблицы
.table {
  &__scroll {
    overflow-x: auto;
    width: 100%;
    scrollbar-width: thin;
  }
  &__row {
    display: table-row;
  }
  &__row &__column:nth-child(2) {
    border-top-left-radius: 8px;
  }
  &__row &__column:last-child {
    border-top-right-radius: 8px;
  }
  &__column {
    display: table-cell;
    height: 36px;
    transition: background-color 0.5s ease-in-out;
    &:nth-child(odd):hover,
    &:nth-child(even):hover {
      cursor: pointer;
    }
  }
  &__label {
    height: 36px;
    padding: 3px 12px;
    max-width: 120px;
  }
  &__item-cell {
    display: table-cell;
    padding: 3px 12px !important;
    max-width: 120px;
    height: 36px;
    transition: background-color 0.5s ease-in-out;
  }
  &__cell:last-child &__item-cell:nth-child(2) {
    border-bottom-left-radius: 8px;
  }
  &__last-child &__item-cell:last-child {
    border-bottom-right-radius: 8px;
  }
  &__cell:nth-child(odd) &__item-cell:nth-child(2),
  &__cell:nth-child(even) &__item-cell:nth-child(2),
  &__cell:nth-child(odd):hover &__item-cell {
    cursor: pointer;
  }
}

// Стили чекбоксов таблицы
.table {
  // Стилизуем настоящий чекбокс
  &__checkbox-input {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  // Стилизуем label как чекбокс
  &__checkbox-label {
    width: 25px;
    height: 25px;
    border-radius: 8px;
  }
}

.table-checkbox {
  // Для родительского контейнера чекбокса
  // задаем относительное позиционирование
  &__cell {
    position: relative;
  }
}













