.CardHeader {
    padding: 0;
    border: none;
}

.CardHeader-ButtonGroupContainer {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    border: none;
    background-color: transparent;
}

.CardHeader-Button {
    background-color: #ffffff;
    border: 2px solid #343a40;
    color: #343a40;
    border-radius: 8px;
    margin-right: 3px;
    padding: 0;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.CardHeader-Button:hover {
    background-color: #343a40;
    color: #ffffff;
    border: none;
}

.CardHeader-Button:focus {
    box-shadow: none;
}

.CardHeader-Button:last-child {
    margin-right: 0;
}