// Responsive Fonts
@font-size-sm: 15px;
@font-size-md: 16px;
@font-size-lg: 17px;
@font-size-xl: 18px;
@font-size-xxl: 19px;
// Responsive Paddings
@padding-sm: 8px;
@padding-md: 12px;
@padding-lg: 16px;
@padding-xl: 22px;
@padding-xxl: 24px;

// Responsive Fonts Mixin
.responsive-font() {
  @media (min-width: 344px) {
    font-size: @font-size-sm;
  }

  @media (min-width: 575px) {
    font-size: @font-size-md;
  }

  @media (min-width: 768px) {
    font-size: @font-size-lg;
  }

  @media (min-width: 992px) {
    font-size: @font-size-xl;
  }

  @media (min-width: 1200px) {
    font-size: @font-size-xxl;
  }
}
// Responsive Padding Mixin Half
.responsive-padding-half() {
  @media (min-width: 344px) {
    padding: @padding-sm * 0.5;
  }

  @media (min-width: 575px) {
    padding: @padding-md * 0.5;
  }

  @media (min-width: 768px) {
    padding: @padding-lg * 0.5;
  }

  @media (min-width: 992px) {
    padding: @padding-xl * 0.5;
  }

  @media (min-width: 1200px) {
    padding: @padding-xxl * 0.5;
  }
}

// Responsive Fonts and Paddings Mixin
.responsive-font-and-padding() {
  @media (min-width: 344px) {
    font-size: @font-size-sm;
    padding: @padding-sm;
  }

  @media (min-width: 575px) {
    font-size: @font-size-md;
    padding: @padding-md;
  }

  @media (min-width: 768px) {
    font-size: @font-size-lg;
    padding: @padding-lg;
  }

  @media (min-width: 992px) {
    font-size: @font-size-xl;
    padding: @padding-xl;
  }

  @media (min-width: 1200px) {
    font-size: @font-size-xxl;
    padding: @padding-xxl;
  }
}