@transition-property: background-color;
@transition-duration: 0.3s;
@transition-timing-function: ease-in-out;

.transition() {
  transition: @transition-property @transition-duration @transition-timing-function;
}