@import '../tools/_tree-view-template-radius-mixin';

// Компонентные стили сброса
.tree-select-toolbar {
  &__button {
    border: none;
    margin-right: 0;
  }
}

.tree-view {
  // И скрываем по горизонтали
  overflow-x: hidden;
  &__button-title {
    &:focus {
      background-color: transparent;
      box-shadow: none;
      border: none;
    }
  }
  &__title {
    border: none;
  }
}