:root {
    --button-background-mobile: #007bff;
    --button-color: #ffffff;
    --button-color-medium: #6c757d;
    --padding-mobile: 15px;
    --padding-tablet: 25px;
    --padding-desktop-s: 30px;
    --padding-desktop-m: 35px;
    --padding-desktop-l: 20px;
    --vertical-padding: 10px;
    --button-radius: 8px;
    --container-margin-mobile: 0;
    --container-margin-tablet: 20px;
    --container-margin-desktop: 10px;
}

.SidebarButtons {
    position: absolute;
    border-radius: var(--button-radius);
}

.SidebarButton,
.SidebarButton:hover {
    color: var(--button-color);
}

/* Мобильные устройства (до 575px) */
@media (max-width: 575px) {
    .SidebarButtons {
        padding: var(--padding-mobile) 0;
    }

    .SidebarButtons_Horizontal {
        margin: var(--container-margin-mobile);
    }

    .SidebarButton {
        background-color: var(--button-background-mobile);
    }
}

@media (max-width: 767px) {
    #fullWidthItemContainer {
        justify-content: center;
    }

    .SidebarButton {
        width: 100%;
        max-width: 40px; /* Можно убрать, если не требуется ограничение ширины */
    }
    /* Скрываем десктопные кнопки на мобильных интерфейсах */
    .SidebarButtons_Vertical {
        display: none;
    }

    .SidebarButton#sidebarButton-1 {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .SidebarButton#sidebarButton-2 {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

/* Мобильные устройства (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    .SidebarButtons {
        padding: var(--padding-tablet) 0;
    }

    .SidebarButtons_Horizontal {
        margin: var(--container-margin-mobile);
    }
}

/* Планшеты и больше (от 768px) */
@media (min-width: 768px) {
    .SidebarButtons {
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
    /* Скрываем мобильные кнопки на десктопных интерфейсах */
    .SidebarButtons_Horizontal {
        display: none;
    }

    .SidebarButtons_Vertical {
        margin-bottom: var(--container-margin-tablet); /* Можно использовать переменную для отступа */
    }

    .SidebarButton {
        transition: all 0.3s ease-in-out;
    }

    .SidebarButtons_Vertical .SidebarButton:hover {
        background-color: transparent;
        color: var(--button-color-medium);
    }
}