.Sidebar {
    background-color: #f8f9fa;
    padding: 0;
    font-family: Arial, sans-serif;
}

.Sidebar-List {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #007bff;
    border-radius: 8px;
    text-align: center;
}

.Sidebar-Item {
    border-bottom: 1px solid #ffffff;
}

.Sidebar-Item:nth-child(last-child) {
    border-bottom: none;
}

.Sidebar-Link {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.Sidebar-Item .Sidebar-Link {
    color: #ffffff;
}

.Sidebar-Item.Sidebar-Item_Active .Sidebar-Link {
    background-color: #ffffff;
    color: #007bff;
    border: 2px solid #007bff;
}

.Sidebar-Collapse {
    display: flex;
    align-items: center;
}

@media (min-width: 1400px) {
    .Sidebar-list {
        padding: 35px;
        font-size: 20px;
    }

    .Sidebar-Link {
        padding: 25px 35px;
    }
}

@media (min-width: 1200px) {
    .Sidebar-List {
        padding: 30px;
        font-size: 19px;
    }

    .Sidebar-Link {
        padding: 20px 30px;
    }
}

@media (min-width: 992px) {
    .Sidebar-List {
        padding: 25px;
        font-size: 18px;
    }

    .Sidebar-Link {
        padding: 15px 25px;
    }
}

@media (min-width: 768px) {
    .Sidebar-List {
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: 17px;
    }

    .Sidebar-Link {
        padding: 15px;
    }
}

@media (min-width: 576px) {
    .Sidebar-List {
        padding: 15px;
        font-size: 16px;
    }

    .Sidebar-Link {
        padding: 12px 20px;
    }
}

@media (min-width: 480px) {
    .Sidebar-List {
        padding: 10px;
        font-size: 15px;
    }

    .Sidebar-Link {
        padding: 10px 18px;
    }
}

@media (min-width: 376px) and (max-width: 479px) {
    .Sidebar-List {
        padding: 5px;
        font-size: 14px;
    }

    .Sidebar-Link {
        padding: 8px 15px;
    }
}