:root {
    --rich-tree-button-padding: 0;
    --rich-tree-button-border: none;
    --rich-tree-button-background: transparent;
    --rich-tree-button-min-width: 100%;

    --rich-tree-column-padding: 0;

    --rich-tree-headline-padding: 8px;

    --rich-tree-text-font-size: 18px;
    --rich-tree-text-margin-bottom: 0;
    --rich-tree-text-padding-right: 8px;

    --rich-tree-list-justify-content: center;
    --rich-tree-list-padding-left: 20px;

    --rich-tree-multilevel-dropdown-min-width: 50%;
    --rich-tree-multilevel-dropdown-border-left: 2px solid #007bff;
}

.RichTree-Button {
    border: var(--rich-tree-button-border);
    background: var(--rich-tree-button-background);
    min-width: var(--rich-tree-button-min-width);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--rich-tree-button-padding);
}

.RichTree-Column {
    padding: var(--rich-tree-column-padding);
}

.RichTree-HeadlineContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.RichTree-IconPair {
    display: flex;
    justify-content: var(--rich-tree-list-justify-content);
}

.RichTree-Text {
    font-size: var(--rich-tree-text-font-size);
    margin-bottom: var(--rich-tree-text-margin-bottom);
}

.RichTree-Text:last-child {
    font-size: 14px;
}

.RichTree-List {
    display: flex;
    justify-content: var(--rich-tree-list-justify-content);
}

@media (min-width: 344px) {
    .RichTree-Text {
        display: none;
    }
}

@media (min-width: 768px) {
    .RichTree-Text {
        display: block;
    }
}