@rich-tree-button-padding-bottom: 0;
@rich-tree-button-border: none;
@rich-tree-button-background: transparent;
@rich-tree-button-min-width: 100%;
@rich-tree-text-margin-bottom: 0;
@rich-tree-font-size-small: 15px;
@rich-tree-font-size-medium: 16px;
@rich-tree-font-size-large: 17px;
@rich-tree-font-size-xlarge: 18px;

.Tree-Button {
    border: @rich-tree-button-border;
    background: @rich-tree-button-background;
    min-width: @rich-tree-button-min-width;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: @rich-tree-button-padding-bottom;
}

.Tree-Column,
.Tree-IconButton {
    display: flex;
}

.Tree-MainTitle {
    text-align: left;
    margin-bottom: @rich-tree-text-margin-bottom;
    color: #a7adb3;

// Nested Media Queries
@media (min-width: 344px) {
    font-size: @rich-tree-font-size-small;
}

    @media (min-width: 576px) {
        font-size: @rich-tree-font-size-medium;
    }

    @media (min-width: 768px) {
        font-size: @rich-tree-font-size-large;
    }

    @media (min-width: 992px) {
        font-size: @rich-tree-font-size-xlarge;
    }
}