// Стили цветовой темы выпадающего списка с кнопками
.drop-end {
  &:hover {
    background-color: #6c757d;
    color: #ffffff;
  }
  &--focused {
    background-color: #007bff;
    color: #ffffff;
  }
}

.dropdown-vertical {
  background-color: #ffffff;
  border-color: #6c757d;
  &__button-container:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.nav-panel {
  &__button:hover {
    background-color: #6c757d;
    color: #ffffff;
  }
}