// Компонентные стили темы навигационной панели
.nav-panel {
  &__component > &__nav {
    background-color: #ffffff;
  }
  &__button {
    color: #6c757d;
    &:focus {
      background-color: #ffffff;
    }
  }
}