// Стили контейнера комплексное дерево
.rct-tree {
  &-main &-item-arrow {
    // Устанавливаем цвет заливки иконки раскрывающегося списка
    fill: #007FFF;
  }
  &-main &-item-button {
    background-color: #ffffff;
    color: #6c757d;
  }
}