@import '../mixins/_responsive';
@import 'mixins/_responsive';
@import 'mixins/_effect';

// Скругление углов вложенного списка
@child-navbar-list-border-radius: 8px;
// Цвет фона элемента вложенного списка
@child-navbar-list-item-background-color: #ffffff;
// Цвет фона элемента вложенного списка при активном состоянии
@child-navbar-list-active-item-background-color: #2196f3;
// Цвет текста ссылки элемента вложенного списка
@child-navbar-list-item-color-text: #2196f3;
// Цвет ссылки элемента вложенного списка при активном состоянии
@child-navbar-list-active-item-color-text: #ffffff;
@child-navbar-list-hover-item-color-text: #2196f3;
// Цвет ссылки элемента вложенного списка при наведении
@child-navbar-list-hover-active-item-color-text: #ffffff;
// Цвет кнопки удаления элемента вложенного списка
@child-navbar-list-button-delete-item-color: #842029;

.ChildNavbarList {
  // Необходимо для позиционирования дочернего меню
  // Относительно его нового родительского элемента
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1000;
  // Стили меню
  background-color: #ffffff;
  border-radius: @child-navbar-list-border-radius;
  box-shadow:
          0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
  .responsive-child-list-width();
  &-Item {
    background-color: @child-navbar-list-item-background-color;
    border: none;
    text-align: left;
    cursor: pointer;
    .responsive-font-and-padding();
    &_active {
      background-color: @child-navbar-list-active-item-background-color;
      .apply-pulse(0.7s);
      & .ChildNavbarList-Link {
        color: @child-navbar-list-active-item-color-text;
      }
      & .ChildNavbarList-Link:hover {
        color: @child-navbar-list-hover-active-item-color-text;
      }
      & .ChildNavbarList-LinkText {
        &::after {
          background: linear-gradient(to right, transparent, #2196f3);
        }
      }
    }
  }
  &-Link {
    display: inline-block;
    width: 100%;
    color: @child-navbar-list-item-color-text;
    padding:0;
    cursor: pointer;
  }
  &-ButtonContainer {
    display: flex;
  }
  &-Link:hover {
    color: @child-navbar-list-hover-item-color-text;
  }
  &-LinkTextContainer {
    display: flex;
    justify-content: space-between;
  }
  &-LinkText {
    width: 100%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    max-width: 130px;
    padding-right: 10px;
    &::after {
      content: "";
      position: absolute;
      // Растягиваем элемент на всю высоту
      top: 0;
      bottom: 0;
      right: 0;
      width: 10px;
      background: linear-gradient(to right, transparent, #ffffff);
      pointer-events: none;
    }
  }
  &-Button {
    .responsive-icon-font();
    &_delete {
      color: @child-navbar-list-button-delete-item-color;
    }
  }
}