// Стили сброса формы ввода данных
.input-large {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &:focus {
    box-shadow: none;
  }
}