// Переменные для хранения цветов палитры
@toggle-button-border-color: #ffffff;
@button-close-text-hover-color: #c0c0c0;
@button-close-text-background-hover-color: #2196f3;
// Стили в которых мы задаем цвета фона и текста
.toggleButton {
  border-color: @toggle-button-border-color !important;
  &__wrapper {
    &:hover {
      color: @button-close-text-hover-color;
      background-color: @button-close-text-background-hover-color;
    }
  }
  &__button {
    &--added {
      &:hover {
        background-color: #2196f3;
      }
    }
  }
}


