// Компонентные стили элемента таба
.tabs-item {
  width: 100%;
  &__icon {
    margin-left: 6px;
  }
  &__link {
    border-width: 2px !important;
    padding: 6px 24px !important;
    transition: 0.5s ease-in-out;
    &:hover {
      border-radius: 8px;
    }
  }
}