:root {
    --card-border-radius: 8px;
    --card-padding: 0;
    --card-border: none;
    --card-body-border-color: #a7adb3;
    --card-body-border-bottom: 1px solid var(--card-body-border-color);
    --card-body-padding: 0;
    --card-footer-padding: 0;
    /* Внутренние отступы для различных расширений экранов */
    --card-footer-spacing-xs: 8px;
    --card-footer-spacing-sm: 12px;
    --card-footer-spacing-md: 16px;
    --card-footer-spacing-lg: 24px;
    --card-footer-spacing-xl: 28px;
}

.CardFooter {
    padding: var(--card-footer-padding);
    border: var(--card-border);
    border-radius: var(--card-border-radius) !important;
}

@media (min-width: 344px) {
    .CardFooter_Available {
        margin-top: var(--card-footer-spacing-xs);
    }

    .CardFooter_Available .Card {
        margin-bottom: var(--card-footer-spacing-xs);
    }
}

@media (min-width: 576px) {
    .CardFooter_Available {
        margin-top: var(--card-footer-spacing-sm);
    }

    .CardFooter_Available .Card {
        margin-bottom: var(--card-footer-spacing-sm);
    }
}

@media (min-width: 768px) {
    .CardFooter_Available {
        margin-top: var(--card-footer-spacing-md);
    }

    .CardFooter_Available .Card {
        margin-bottom: var(--card-footer-spacing-md);
    }
}

@media (min-width: 992px) {
    .CardFooter_Available {
        margin-top: var(--card-footer-spacing-lg);
    }

    .CardFooter_Available .Card {
        margin-bottom: var(--card-footer-spacing-lg);
    }
}

@media (min-width: 1200px) {
    .CardFooter_Available {
        margin-top: var(--card-footer-spacing-xl);
    }

    .CardFooter_Available .Card {
        margin-bottom: var(--card-footer-spacing-xl);
    }
}

.CardFooter_Available .Card:first-child .Card-Body {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.CardFooter_Available .Card:last-child {
    margin-bottom: 0;
}

.CardFooter_Available .Card:last-child .Card-Body {
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.CardFooter_Available .Card-Body {
    padding: var(--card-body-padding);
}
