:root {
    --data-card-renderer-padding-left: 0;
    --data-card-renderer-padding-right: 0;
}

.CardList {
    padding-left: var(--data-card-renderer-padding-left);
    padding-right: var(--data-card-renderer-padding-right);
}
