// Тема 1 - белая
// Тема кнопки управления состоянием открытия / закрытия окна таблицы
.modal-button-toggle {
  color: #007bff;
  background-color: #ffffff;
  border-color: #007bff;
  &--focused {
    color: #ffffff;
    background-color: #ffffff;
    border-color: transparent;
  }
  &:hover {
    background-color: #007bff;
    color: #ffffff;
  }
}



