// Компонентные стили типографики навигационной панели
.dropdown-interactive-bar {
  border: 1px solid;
  &__data-toggle {
    text-align: center;
    font-size: 19px; // Только размер шрифта мобильного экрана
  }
}