:root {
    --data-content-title-font-size: 18px;
    --data-content-body-font-size: 16px;

    /* Для мобильных устройств */
    --data-content-title-font-size-mobile: 14px;
    --data-content-body-font-size-mobile: 12px;

    /* Для средних экранов */
    --data-content-title-font-size-tablet: 16px;
    --data-content-body-font-size-tablet: 14px;
}

.DataContent-Title {
    font-size: var(--data-content-title-font-size);
}

.DataContent-Body {
    font-size: var(--data-content-body-font-size);
}

@media (max-width: 575px) {
    .DataContent-Title {
        font-size: var(--data-content-title-font-size-mobile);
    }

    .DataContent-Body {
        font-size: var(--data-content-body-font-size-mobile);
    }
}

@media (max-width: 767px) {
    .DataContent-Title {
        font-size: var(--data-content-title-font-size-tablet);
    }

    .DataContent-Body {
        font-size: var(--data-content-body-font-size-tablet);
    }
}
