// Переменные для хранения свойств плавного перехода
@child-apply-transition-property: background-color;
@child-apply-transition-duration: 0.6s;
@child-apply-transition-timing-function: ease-in-out;

// Миксин плавного перехода для текста с кнопкой
.child-apply-transition() {
  transition: @child-apply-transition-property @child-apply-transition-duration @child-apply-transition-timing-function;
}