:root {
    --font-size-small: 14px;
    --font-size-medium: 15px;
    --font-size-large: 16px;
    --font-size-xl: 17px;
    --font-size-xxl: 18px;
    --font-size-huge: 20px;
    --padding-small: 8px;
    --padding-medium: 10px;
    --padding-large: 12px;
    --padding-huge: 18px;
    --padding-extra-huge: 20px;
}

.InputEditer {
    width: 100%;
    text-align: center;
}

.InputEditer_Transparent {
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
}

.InputEditer_Prominent {
    font-size: var(--font-size-huge);
    padding: var(--padding-extra-huge);
}

.InputEditer_Transparent:focus {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
}

/* Адаптивные стили для инпута */
@media (min-width: 360px) {
    .InputEditer_Prominent {
        padding: var(--padding-small);
        font-size: var(--font-size-small);
    }
}

@media (min-width: 576px) {
    .InputEditer_Prominent {
        padding: var(--padding-medium);
        font-size: var(--font-size-medium);
    }
}

@media (min-width: 768px) {
    .InputEditer_Prominent {
        padding: var(--padding-large);
        font-size: var(--font-size-large);
    }
}

@media (min-width: 992px) {
    .InputEditer_Prominent {
        padding: var(--padding-large);
        font-size: var(--font-size-xl);
    }
}

@media (min-width: 1200px) {
    .InputEditer_Prominent {
        padding: var(--padding-huge);
        font-size: var(--font-size-xxl);
    }
}