.Desktop {
    display: flex;
    flex-direction: column; /* Вертикальная верстка */
    align-items: center;    /* Центрирование по горизонтали */
    justify-content: center;/* Центрирование по вертикали */
    height: 100vh;          /* Высота на весь экран */
    background-color: #eeeeee; /* Светлый фон */
    font-size: 20px;
    color: #2196f3;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

@media (min-width: 344px) {
    .Desktop {
        padding: 8px;
    }
}

@media (min-width: 575px) {
    .Desktop {
        padding: 12px;
    }
}

@media (min-width: 768px) {
    .Desktop {
        padding: 16px;
    }
}

@media (min-width: 992px) {
    .Desktop {
        padding: 24px;
    }
}