// Диапазон адаптивных внутренних отступов
@toggle-button-padding-sm: 8px;
@toggle-button-padding-md: 10px;
@toggle-button-padding-lg: 12px;
@toggle-button-padding-xl: 14px;
@toggle-button-padding-xxl: 16px;

// Миксин адаптивных внутренних отступов toggle-button
.toggle-button-responsive-padding() {
  @media (min-width: 344px) {
    padding: @toggle-button-padding-sm;
  }
  @media (min-width: 575px) {
    padding: @toggle-button-padding-md;
  }
  @media (min-width: 768px) {
    padding: @toggle-button-padding-md;
  }
  @media (min-width: 992px) {
    padding: @toggle-button-padding-lg;
  }
  @media (min-width: 1200px) {
    padding: @toggle-button-padding-xl;
  }
}