// Подключаем параметры управления интерфейсом в темной теме
@import '../settings/_chat-toggle-dark-vars';
// Подключаем функцию стилизации кнопки
@import '../mixins/_button-styles';

// Стили кнопки отображения чата темной темы
.chat-toggle {
  // Устанавливаем цвет фона кнопки по умолчанию
  @background-default-color: #212529;
  // Устанавливаем начальный цвет границы
  @border-default-color: #ffc107;
  // Устанавливаем начальный цвет текста
  @color-text: #ffc107;

  // Начальные стили кнопки
  .button-styles(
    @background-default-color,
    @border-default-color,
    @color-text
  );
  &:hover {
    // Стили кнопки при наведении
    .button-styles(
      @background-color-hover,
      @border-color-transparent,
      @color-text-hover
    );
  }
}