// Стили сброса рабочего стола
.Desktop {
  // Устанавливаем стили заголовка рабочего стола
  &-Title {
    margin-bottom: 0; // сбрасываем внешний отступ у заголовка
    border: none;     // убираем границу
    border-radius: 0; // убираем скругление углов контейнера заголовка
    background-color: transparent; // устанавливаем прозрачный цвет фона
                                  // у контейнера заголовка
  }
}