// Основные цвета интерфейса
// Цвет заднего фона модального окна
@color-overlay-background: rgba(22, 13, 27, 0.5);
// Основной цвет модального окна
@color-modal-background: #160d1b;
// Основной цвет текста элементов
@color-primary: #160d1b;

// Цвета элементов управления
// Основной цвет фона чекбоксов
@color-checkbox-background: #ffffff;
// Цвет добавления акцента чекбоксам
@color-checkbox-primary: #ffc107;
// Фон кнопки закрытия модального окна
@color-button-close-background: #ffc107;
// Цвет текста кнопки модального окна
@color-button-close-text: #160d1b;

// Дополнительные переменные
// Основной цвет границы элементов
@color-border-primary: #ffc107;
// Дополнительный прозрачный цвет элементов
@color-transparent: transparent;

// Тема 3 - черная
// Для всплывающего окна списка управления параметрами таблицы
// Стили всплывающего окна списка управления параметрами таблицы
.overlay-editable {
  // Задаем полупрозрачный черный цвет экрана при появлении окна
  background-color: @color-overlay-background;
  &__content {
    // Задаем темный цвет фона окна списка параметров
    background-color: @color-modal-background;
  }
  // Стили кнопки закрытия модального окна
  &__button-close {
    background-color: @color-button-close-background; // Задаем цвет фона кнопки закрытия окна управления
    color: @color-button-close-text; // Задаем цвет текста кнопки закрытия модального окна управления
    font-weight: 600; // Задаем жирность текста кнопки закрытия окна редактирования
  }
}

// Стили заголовка окна управления параметрами таблицы
.column-list {
  // Стили чекбоксов основных параметров управления таблицей
  &__checkbox-label {
    background-color: @color-checkbox-background;
    color: @color-primary;
    border-color: @color-border-primary;
  }
  // Стили чекбокса с названием колонки таблицы в заголовке
  &__checkbox-text {
    color: @color-checkbox-primary;
  }
}

// Стили списка контентной области управления параметрами таблицы
.overlay-editable-list {
  &--column, // Задаем прозрачный цвет элементам списка
            // заголовка в окне управления параметрами
  &__item {
    background-color: @color-transparent;
  }
  // Стили кастомного чекбокса списка содержимого окна
  // управления табличными параметрами
  &__check-label {
    border-color: @color-border-primary;
    background-color: @color-checkbox-background;
    color: @color-primary;
  }
}

// Стили текста чекбокса списка содержимого окна
// управления табличными параметрами
.form-check-text {
  color: @color-checkbox-primary;
}