// Тема 3 - системная Основной фильтр поиска
.filter-search {
  // Устанавливаем цвет фона фильтра поиска
  background-color: rgba(33, 37, 41, 0.5);
  // Устанавливаем цвет границы фильтра поиска
  border-color: #ffc107;
  &::placeholder,
  &:focus {
    // Устанавливаем цвет текста фильтра поиска
   color: #ffc107;
  }
}